[2019-05-22 07:08] bab2min opened #1 "addDoc would die if the input is empty"
https://github.com/bab2min/tomotopy/blob/92c683ae56cd83265c2dfed7c75593c8342a9a97/src/TopicModel/TopicModel.hpp#L116

if doc.words.empty(), the value of `maxWid` is undefined, and it will crush the next line.

[2019-07-29 18:04] by1228 opened #2 "PAM get_topic_words cannot extract word distribution for sub-topics"
@bab2min The get_topic_words and get_topic_word_dist methods in PAM (inherited from LDA) only only user to extract the word-distribution for super-topics but not the sub-topics.

[2019-08-04 08:46] bab2min commented on #2
Thank you for reporting the issue.
I've discovered the following problem in version 0.1.3 and below.

[code]
get_topic_words() in PAModel should return top words for each sub-topic, but it raises an exception when topic number >= k1.

This issues will be fixed in the next update. Thank you again for discovering the bug.

[2019-08-04 16:10] bab2min commented on #1
The issue was fixed at 0.1.4.

[2019-08-04 16:10] #1 closed

[2019-08-04 16:11] bab2min commented on #2
The issue was fixed at 0.1.4.

[2019-08-04 16:11] #2 closed

[2019-08-28 09:42] rudvlf0413 opened #3 "topic 가중치 메트릭스를 받아올 수 없나요?"
안녕하세요, hdp 구현 코드를 찾다가 tomotopy라는 좋은 라이브러리를 발견하게 되었습니다!

sklearn에 있는 LatentDiricheletAllocation처럼 학습 후 각 다큐먼트 및 단어들에 대한 토픽 가중치 메트릭스를 얻고 싶은데 혹시 그러한 기능은 없는지 궁금합니다.

(https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.LatentDirichletAllocation.html)

[2019-08-29 06:58] bab2min commented on #3
문헌별 토픽 가중치를 얻고 싶으신거라면 infer 메소드를 통해서 구할 수 있습니다.

[code]

말씀하신 기능이 이게 맞으신지요?

[2019-08-29 10:38] rudvlf0413 commented on #3
아 저렇게 각 다큐먼트의 토픽 가중치를 구할 수 있군요!
혹시 각 단어에 대한 토픽 가중치는 어떻게 구할 수 있을까요?
단어 하나짜리 가상 다큐먼트를 만들어서 infer하면 될 것 같은데 좀 더 효율적인 방법이 없을까 해서요

[2019-08-29 12:19] bab2min commented on #3
음, 단어에 대한 토픽 가중치라는게 조금 애매한데, infer를 이용해서 구할수는 없습니다.
토픽 모델링은 문헌 내의 각 단어가 0~K 사이의 주제 중 하나에 임의로 배정해가면서 전체 모형의 확률이 높은 지점을 찾아가는 과정이기 때문에, 문헌 내의 각 단어는 K개의 주제 중 하나에 배정될 뿐입니다. 따라서 단어가 1개인 문헌을 만들어서 infer를 할 경우, K개 주제 중 임의로 선택된 주제의 가중치만 높게 나오고 나머지 가중치는 0에 가깝게 나오는 결과를 얻을 뿐입니다.

그 대신, 주제별 단어 분포(word distribution of topics)를 이용하는게 더 나을것 같습니다.

[code]

이렇게 하면 아마 원하시던 것과 유사하게, 각 단어가 특정 토픽에 나올 가능성을 계산하여 보여줄 수 있습니

[2019-08-30 01:53] rudvlf0413 commented on #3
아아 네 제가 찾던 방법이네요! 친절한 설명 감사합니다! :)

[2019-08-30 01:53] #3 closed

[2019-09-26 14:41] lkoneha opened #4 "Issue in tomotopy"
I have installed tomotopy by when I want to use it for LDA modeling it is showing error
AttributeError: module 'tomotopy' has no attribute 'LDAmodel'

[2019-09-26 14:43] bab2min commented on #4
Oh, could you tell which your environment is, such as OS and python version?

[2019-09-26 14:46] lkoneha commented on #4
OS is windows 10 and python 3.7.

[2019-09-26 14:48] #4 closed

[2019-09-26 14:55] lkoneha opened #5 "Can you provide some example of using LDA by tomotopy. I have created corpus of documents using tf idf and now i want to pass it in LDA. How i can do it. After that can i calculate coherence score."

[2019-09-28 17:42] lkoneha opened #6 "Issue in HDPModel"
When I am training HDP model by using tomotopy, while computing log likelihood it is crashing.

[2019-09-28 17:44] #5 closed

[2019-09-29 10:20] bab2min commented on #6
Could you show details about your problem or a piece of code?
Did train() method work well?

[2019-09-30 06:18] lkoneha commented on #6
I am using following code:
mdl = tp.HDPModel(tw=tp.TermWeight.IDF)
    x = len(data_lemmatized)
    for k in range(x):
        mdl.add_doc(p[k])

    for i in range(0, 2000, 10):
        mdl.train(10)
        print('Iteration: {}\tLog-likelihood: {}'.format(i, mdl.ll_per_word))

    mdl.save('Dataset3/HDP/hdp_model.bin')

    md = tp.HDPModel.load('Dataset3/HDP/hdp_model.bin')

After running some

[2019-09-30 12:48] bab2min commented on #6
It seems definitely tomotopy's problem, but the crashing has not been reproduced, which makes debugging difficult. Could you share the size of your dataset? And could you try following code?

[code]

I added **initial_k** parameter and logging values of **live_k** to your code. If you share the result of this code, it can be helpful to solve this problem. Thank you in advance.

[2019-10-05 10:19] bab2min commented on #6
I found the cause of the problem at optimizeParameters function of LDAModel class. The problem will be fixed next update. Please wait. Thank you!

[2019-10-06 15:12] #6 closed

[2019-10-07 13:23] Dobatymo opened #8 "[feature request] Partially Labeled LDA"
Hi, your library is aweseome!

Would it be possible to implement _Partially Labeled LDA_?
See paper: [Partially labeled topic models for interpretable text mining](https://www.microsoft.com/en-us/research/wp-content/uploads/2011/08/KDD2011-pldp-final.pdf)

It's a generalization and includes standard LDA and Labeled LDA as special cases.

There is an unofficial Java implementation [gdebasis/splda](

[2019-10-07 15:15] bab2min commented on #8
Oh, hi! Thank you for your attention!
I didn't know about _Partially Labeled LDA_, but it seems interesting!
I will try to implement this model. If you get another good material or code, please let me know.

[2019-10-08 06:28] Dobatymo commented on #8
I am currently working on a pure Python implementation based on the above Java code. https://github.com/Dobatymo/python-topic-models
I am trying to implement everything as clear as possible.

[2019-10-16 04:01] Dobatymo opened #9 "Is term weighting implemented correctly?"
Term weighting is implemented here by simply multiplying the counts with the weights before and after sampling.

https://github.com/bab2min/tomotopy/blob/0c6cb8081dbd2851e0a6c6768fe4732493846b43/src/TopicModel/LDAModel.hpp#L125-L127

However I don't think you can do that. It's ok for `doc.numByTopic` because here the document dependency is still kept. However for both `ld` counts the results are d

[2019-10-16 10:38] bab2min commented on #9
Thank you for your reviewing.
Actually, the `addWordTo` function does only increase or decrease the number of words by one in a particular document. `INC` can be only -1 or 1, and weight can differ depending on document `doc`. So that function can be written using python like this

    ld.numByTopic[tid] += inc * termweights[docid, word_id]
    ld.numByTopicWord[tid, vid] += inc * termweights[doci

[2019-10-17 02:07] Dobatymo commented on #9
Yes, the totals should match I think. But during sampling, you are not dealing with counts totaled over all words in all docs. Let me give an example.

[code]

I implemented both ways, yours and the papers the way I understand them and compare them each time a count is added.

Running that gives me a output like this
[code]

You can see that in the last output, the docId changes to 1 and now both

[2019-10-18 02:19] bab2min commented on #9
Thank you for kindly attaching an example.

But the last part (`docId = 1, vid=9, tid=0`) of calculation you shared above looks weird.
At the previous part, paper sum is `[0.9177, 2.355]`, and a new word(`docid=1, vid=9`) has been assigned to `tid=0`. So, I expect only the first part of paper sum to be increased.
But in your paper sum, both the first and second part of paper sum have been changed.

[2019-10-21 01:35] Dobatymo commented on #9
It makes sense. The `wordWeights` of `doc` didn't change. But `doc` changed, so the associated weights can be completely different.

[2019-10-21 10:53] bab2min commented on #9
Oh, I see where the difference is. In paper weight of word m(x) was defined as m(x, d) in PMI weighting.
Here is Eq(6)
![CodeCogsEqn (1)](https://user-images.githubusercontent.com/19266222/67198426-e8597200-f439-11e9-8b6b-c4889f61f4da.gif)
In PMI weighting scheme, Eq(6) is converted to following:
![CodeCogsEqn (2)](https://user-images.githubusercontent.com/19266222/67198491-0b842180-f43a-11e9-8ff1

[2019-10-22 03:26] Dobatymo commented on #9
I understand what you mean. The paper is a bit ambiguous here.

But in my understanding `d_w` doesn't really make sense. A word is associated with more than one document. So which one is it during sampling? Also they write that the PMI is clamped to zero, so there wouldn't be any negative and presumably no undefined values.

In my opinion the equation in the paper reads in part: In the context of

[2019-11-04 07:59] ricardog opened #10 "Return value of document.get_topic_dist does not sum to 1.0"
I expected the return value of `Document.get_topic_dist()` to sum to `1.0` (within some epsilon). Yet that's not what I see after training an LDA model.

[code]

There are many documents in my model where the sum is not close to `1.0`.

Could you please explain what the values returned by `Document.get_topic_dist()` represents?

Apologies if this is my misunderstanding.

[2019-11-04 12:29] bab2min commented on #10
Oh, thank you for your report. it seems a bug. Could you give me more information about your situation?
How did you set `tw`, `min_cf`, `k` or `rm_top` when you initialized LDAModel?

[2019-11-04 13:10] ricardog commented on #10
Here is how I train the model. `MyWikiCorpus` is a hacked-up version of the gensim code to process the English Wikipedia dump.

[code]

I hope I am using the parameters correctly.

I uploaded the model file to S3 in case it is useful for debugging (as I said it's just Wikipedia pages so nothing secret).  You can find the model at

http://itineris.s3.amazonaws.com/en-wiki_model.bin

I used `lda.sav

[2019-11-05 01:14] bab2min commented on #10
Thank you for sharing your code and data. This allowed me to spot the problem and I commited a new patch. I will release a 0.3.1 patch that fixes the problem soon. Thank you again!

[2019-11-05 12:47] #10 closed

[2019-11-22 16:20] bab2min commented on #8
PLDAModel was added into package at 0.4.0 version

[2019-11-22 16:20] #8 closed

[2019-11-26 03:27] Dobatymo opened #18 "PLDA performance/memory issue"
Hi,
thanks so much for implementing the Partially Labeled LDA model :)

But there seems to be an issue with the `add_docs` method. Firstly it's much slower than any of the other models in this library and there is also a memory issue. After adding only about 300 (not overly long documents) I run out of memory.

I am using `PLDAModel(latent_topics=20, topics_per_label=1)` and the documents added to

[2019-11-26 15:45] bab2min commented on #18
Oh, thanks for the fast feedback. I found the bug at init function of PLDAModel. This bug will be fixed the next version soon.

[2019-11-28 02:45] Dobatymo commented on #18
Perfect. It's fixed now.

[2019-11-28 02:45] #18 closed

[2019-11-28 02:58] Dobatymo opened #20 "PLDA documentation, order of topics"
I understand that after training the PLDAModel `k` is the number of latent topics + the topics resulting from the labels (topics_per_label * unique labels).

What is the order of the topics now? For example using `get_topic_word_dist(0)`, would that give me the first latent topic or the first topic of the first label?

Unrelated to this, it would be great if `tomotopy.Dictionary` would get a nicer

[2019-11-29 17:26] bab2min commented on #20
Thank you for the good advice.
As for the PLDA topic order, the first N topics refer to the N topics of the first label. The latent topic is at the very end. I will improve the documentation.
I will also take advice on string representation `tomotopy.Dictionary` and update it in a more readable form in the next version.

In addition, during the work, I found that the PLDA and LLDA models sometimes

[2019-11-30 06:24] #20 closed

[2019-12-01 21:00] giaccomgl opened #22 "Trying to use PAM model giving by input processed text"
Hi. I'm trying to implement PAM Model by giving as input a processed text (list of lemmatized words, I removed punctuation and stop words).
[code]
But it returns error.
Just one thing: This project looks great.

[2019-12-02 03:45] bab2min commented on #22
Thank you for your feedback.

The code you shared means following, doesn't it?
[code]

However, there is a difficulty in reproducing the error. Can you tell me more about what error occurred?

[2019-12-02 12:07] giaccomgl commented on #22
Oh sorry. I gave as Input the entire list. I have to give as input each word in list through a a loop.

[2019-12-02 22:54] stevemarin opened #23 "Possible to expose the corpus class?"
Thanks for tomotopy!  I have one small issue though, and that's rebuilding the corpus every time I want to change the model.  Is there a way to do something like this:

[code]
Thanks again for a great package!

[2019-12-02 23:06] giaccomgl commented on #22
Anyway If I try to run the script, it says that the class PAModel doesn’t
accept ‘k’ as parameter (invalid parameter). How to fix it?

Il giorno lun 2 dic 2019 alle 04:45 bab2min <notifications@github.com> ha
scritto:

[2019-12-03 01:12] bab2min commented on #22
Oh, I missed one of the important things in the above answer. `PAModel` doesn't accept `k`, but `k1`, `k2`. You can see the detail information at documentation. (https://bab2min.github.io/tomotopy/v0.4.2/en/#tomotopy.PAModel)
Please try following code:
[code]

[2019-12-03 11:07] bab2min commented on #23
Thank you for the good idea!
Since each topic model requires slightly different type of document, it seems not easy to make abstract class `Corpus`. But I'll consider the `Corpus` object, which can integrate various different format of documents.
It may take some time so please be patient.

[2019-12-05 03:51] atwilso commented on #9
Hi, I'm one of the authors.  It's been a while since we wrote that paper but I have the code for our reference implementation that I can consult.  It's open source so I can post snippets whenever useful.

I can tackle a couple of these questions right away.  We avoided undefined term weights by setting them to 0 on the theory that a term that does not appear in a document contributes nothing to it

[2019-12-09 09:50] bab2min commented on #9
Oh, hi! Thank you for visiting this place.
I am implementing term weighting based on your paper, and there are some confusing parts in implementing it.
I think when the summation of word weights per topic is calculated, the weights of each word is based on their document. And Dobatymo thinks the weights of each word is based not on their document, but on a document which is sampled.
Both seem conv

[2019-12-09 12:07] giaccomgl commented on #22
It works greatly. Thank you.

Il giorno mar 3 dic 2019 alle 02:12 bab2min <notifications@github.com> ha
scritto:

[2019-12-09 12:31] #22 closed

[2019-12-19 22:29] falakmasir opened #24 "How can I get the K2 distribution of topics out of PAModel"
Currently PAModel.infer(doc) returns only K1 numbers + likelihood. I am trying to build an index and I am having difficulty getting K2 numbers out of the infer() method. I looked at the documentation and infer method is directly inherited from LDA. Is there a way to get the document x topic matrix for both K1 and K2 topics?

[2019-12-20 04:16] bab2min commented on #24
Thank you for your interest to this repository.
I've noticed lacking of accessor to subtopic informations in PAModel, as you said.
So I will add new methods, which enables access subtopics (k2), for PAModel in the next update.

Until the next update, you can temporarily calculate the subtopic distribution with the following code:

[code]

[2019-12-20 13:51] bab2min opened #25 "rm_top doesn't work when min_cf < 2"
https://github.com/bab2min/tomotopy/blob/89c03df66bca4393d1b40e809bb4fcc9e47fa023/src/TopicModel/TopicModel.hpp#L209

[2019-12-29 15:32] #25 closed

[2019-12-29 15:34] bab2min commented on #24
From v0.5.0, `tomotopy.PAModel.infer` returns both K1 distribution and K2 distribution.
You can get both distributions like:
[code]

[2019-12-29 15:34] #24 closed

[2019-12-30 15:40] bab2min opened #27 "adding new methods about setting topic-word prior"

[2020-01-08 15:12] bab2min opened #28 "(SLDAModel) checking size of vars or auto-completing of vars is needed"
https://github.com/bab2min/tomotopy/blob/85307ed43be6b61eafed3b4ea5ffad9fa605c7b0/src/TopicModel/SLDAModel.hpp#L357

[2020-01-11 08:13] #28 closed

[2020-02-16 15:07] atwilso commented on #9
Very much belated, but hopefully still relevant --

You're right.  The paper doesn't adequately address that case.  When I wrote the code, I assumed we were using a single weight for each term in the vocabulary.  PMI was a last-minute addition.

Let's see here. The trick is to make sure that when we remove a term from a topic, we remove exactly the weight that was added.  To do that we need to rem

[2020-02-17 10:34] bab2min commented on #9
Thank you for your kind reply.

Now everything is clearly understood. Actually, my current implementation stores '(term, document) -> weight table' not as a hash table, but an array. Nevertheless, the operation is expected to be the same as your implementation.

I look forward to your continued nice research.
Thank you again.

And thanks to @Dobatymo for leading a productive discussion.

[2020-02-17 10:34] #9 closed

[2020-02-18 01:49] Dobatymo commented on #9
@atwilso Thanks for your explanations!
@bab2min Yes, I agree that your implementation seems to implement his idea. Thanks for looking into this anyway :)

[2020-02-19 16:33] JonAnderRuizColmenares opened #30 "Segmentation fault (core dumped) when using labels in LLDA"
Hello, I am not an expert and I may be very wrong here, but when I try to make a labelled LDA model I am getting 'Segmentation fault (core dumped)' and it may be a bug?

After declaring;
model = tp.LLDAModel(tw=TermWeight.ONE, min_cf=0, rm_top=0, k=20, alpha=0.1, eta=0.01)

If I do not specify labels, as in:

model.add_doc(myDocument)

instead of

model.add_doc(myDocument,labels=myLabel)

I can ad

[2020-03-01 16:49] bab2min commented on #30
Thank you for reporting the bug.
I found where the problem is and it will be fixed 0.5.2 version.
Please re-try after updating tomotopy to 0.5.2 version.

[2020-03-02 11:50] JonAnderRuizColmenares commented on #30
Thank you for the work you are doing! :)

[2020-03-02 13:04] #30 closed

[2020-03-14 12:08] bab2min opened #32 "Word filtering based on Document Frequency"

[2020-03-19 14:42] FLawrence opened #33 "Malloc error when training LLDA model"
System: OSX (10.14.6)
Version: Tomotopy 0.5.2

Example code (mostly from lda example and using the same text file) :

[code]

[2020-03-22 15:54] #23 closed

[2020-03-23 10:02] bab2min commented on #32
An argument `min_df`  was added into every topic model's `__init__` since 0.6.0 version.

[2020-03-23 10:02] #32 closed

[2020-03-23 10:05] bab2min commented on #23
Since version 0.6.0, you can create `tomotopy.utils.Corpus` instance and all topic models in `tomotopy` provide a `corpus` argument.

Please see details at [documentation](https://bab2min.github.io/tomotopy/v0.6.1/en/utils.html).

[2020-03-23 10:06] #27 closed

[2020-03-27 21:18] valmirselmani opened #36 "Issue with model loading (0.6.1)"
Hi @bab2min

Something seems wrong with the newest version 0.6.1.

models created with 0.6.1 cannot be loaded with 0.6.1, it throws an exception "Exception: 'lda.model.1000.bin' is not valid model file"

I saw that you changed the model file format: _"Since version 0.6.0, the model file format has been changed. Thus model files saved in version 0.6.0 or later are not compatible with versions prior

[2020-03-27 22:07] senadjukic commented on #36
I do experience the same issue. Would be nice if this could be fixed soon @bab2min

[2020-03-28 11:10] bab2min commented on #36
Thank you for reporting the error.
I found there was a fatal error in the `save` method of topic models.
I released a new version 0.6.2 that corrected the error, and removed old versions 0.6.0 and 0.6.1.
Please upgrade tomotopy to version 0.6.2 and try again.

[2020-03-28 16:15] valmirselmani commented on #36
I upgraded tomotopy to version 0.6.2 and I can confirm that the issue is now resolved.

Thank you for the quick response!

[2020-03-28 16:15] #36 closed

[2020-03-31 16:49] bab2min opened #38 "Providing count vectors for documents"

[2020-04-02 15:30] bab2min opened #39 "utils.Corpus.save doesn't work"

[2020-04-11 10:35] eyseman opened #40 "Exception: `cands` must be an iterable of `tomotopy.label.Candidate`"
The example for LDA labelling ( def corpus_and_labeling_example() ) is not working properly.

[2020-04-13 09:19] g3rfx commented on #40
I don't know if it is relevant, but I sometimes get a segmentation fault from the `extract` method with a trained `HDPModel` instead of the `LDAModel`:

[code]

[code]
I tried to debug more with the `faulthandler` module of Python 3, but I cannot get a more detailed output.

[2020-04-13 16:02] bab2min opened #41 "segmentation fault from the `extract` method with trained `HDPModel` and `CTModel` :"
I don't know if it is relevant, but I sometimes get a segmentation fault from the `extract` method with trained `HDPModel` and `CTModel` :

[code]

[code]
I tried to debug more with the `faulthandler` module of Python 3, but I cannot get a more detailed output.

EDIT:
Here is the stacktrace using gdb. I hope it helps:
[code]

_Originally posted by @g3rfx in https://github.com/bab2min/tomotopy/issu

[2020-04-13 16:05] bab2min commented on #40
@g3rfx Thanks for reporting a bug and sharing details, but I think the problem you reported is different from this issue, so I open another issue(#41 ) for the problem.

[2020-04-13 16:12] bab2min commented on #40
Hello @eyseman, thank you for your interest.
Could you give more details about your problem? I've tested `corpus_and_labeling_example()` in several environments including Windows & Linux, but it is hard to reproduce the exception.
I guess the variable `cands` have something wrong value. Can you print `cands` before initializing `FoRelevance` instance?

[2020-04-13 16:21] bab2min commented on #33
Hi @FLawrence, thank you for reporting the bug.
Actually I couldn't reproduce the same issue, but I found some bugs in the code of initializing `LLDAModel` at version 0.5.2. I think it may cause the memory allocation problem.
Since this fix has been included in version 0.6.2, please re-try in recent version.
If you meet similar bugs, please report it again.
Thank you!

[2020-04-13 16:50] g3rfx commented on #41
Thank you for clarifying the issue. Let me know in case that you need additional information.

[2020-04-18 06:09] #38 closed

[2020-04-18 06:09] #39 closed

[2020-04-21 16:21] bab2min commented on #41
@g3rfx I tested it with several data, but it was difficult to reproduce a similar error.
Which version of OS and Python did you use?
Could you share your code and data to reproduce the error?

[2020-04-21 17:06] g3rfx commented on #41
I use Ubuntu 18.04.4 with Python 3.6.10 and gcc 7.5.0
May I send you the sample to your gmail address which is on your github profile page? Because there are copyright restrictions regarding the corpus which we are doing research with.

[2020-04-21 20:56] rcalsaverini commented on #40
I'm having the same issue on a Mac, with version 0.7.0  and python 3.7.

I'm running exactly this code (slightly adapted from the example):

[code]

Up to here it runs without issues. Here is where I have problems:

[code]

Then a very strange thing happens. If I print `cands`, I get:

[code]

But if I test if they are instances of `tomotopy.label.Candidate`, it fails for everyone:

[code]

Looks

[2020-04-22 01:58] bab2min commented on #41
Yes. I would appreciate if you share it to my e-mail (bab2min@gmail.com). I will cleanly delete the data you shared after the test.

[2020-04-22 21:29] saralafia opened #44 "Document-topic matrix for hierarchical LDA"
Is there a way to get the topic mixture of each document back out from a hierarchical model? I am training a HLDAModel:
[code]
I am using the Document class to access instances of documents with the get_topic_dist() method. Is there a way to access a topic mixture of a document at a given depth of the model?

[2020-04-23 10:50] FLawrence commented on #33
Retried with version 7.0.0 and seems to be working. Thanks!

[2020-04-23 10:50] #33 closed

[2020-04-24 05:23] dpfens opened #45 "define _mm256_set_m128i for gcc compilers < 8.0"
During installation in Python 3.6.9 with `gcc 7.5.0` on Ubuntu 18.04:
[code]

I received the following error:
[code]

The computer that has the following CPU information:
[code]

I believe that this can be resolved by [defining `_mm256_set_m128i`](https://stackoverflow.com/a/32630658/2829487)

[2020-04-26 06:01] #45 closed

[2020-04-26 08:54] bab2min commented on #41
I've identified the cause of this issue. This was due to insufficient memory allocation in using trie.
Since this fix patch will be included in a next version, please wait a few days.

https://github.com/bab2min/tomotopy/blob/69e91be3b0e5f82db4c64d9046f46099fcc184ec/src/Labeling/FoRelevance.cpp#L63

https://github.com/bab2min/tomotopy/blob/69e91be3b0e5f82db4c64d9046f46099fcc184ec/src/Labeling/FoRe

[2020-04-26 09:02] bab2min commented on #40
@rcalsaverini  Thank you for providing detailed information. Apparently there is a problem with the type check. I'll investigate the cause.

[2020-04-26 09:07] g3rfx commented on #41
Wonderful! Thank you!

[2020-04-26 09:25] bab2min commented on #44
Oh.. currently, get_topic_dist() of HLDAModel returns the depth distribution of a given document. It lacks the method to access which topic is allocated to a certain depth for a given document.
I'll add a new way to access topic id for a given depth of the document in next version.

[2020-05-07 03:15] bab2min commented on #40
The issue seems to be caused by dynamic loading of binary for instruction set architecture in macOS. The issue will be fixed in the next version, and until then, the following solutions are available:

1.  Run python with environment variable `export TOMOTOPY_ISA=none`
    The environment variable `TOMOTOPY_ISA=none` disables dynamic binary loading of tomotopy, but it may slow down the executable

[2020-05-08 17:19] bab2min commented on #41
Version 0.7.1 contains a patch that addresses the issue. Please try again in new version.

[2020-05-08 17:25] bab2min commented on #44
Since version 0.7.1, a `path` property has been added at Document class. It helps to access topic IDs assigned to the document of HLDAModel. Here is an example using `path`.

[code]

[2020-05-11 05:38] dpfens opened #47 "Partially Labelled LDA (PLDA): 'k' is an invalid keyword argument for this function"
I received the following error when instantiating a `tomotopy.PLDA` instance:

[code]

The [documentation](https://github.com/bab2min/tomotopy/blob/master/src/python/docs.h#L1918) for [tomotopy.PLDA](https://bab2min.github.io/tomotopy/v0.7.0/en/#tomotopy.PLDAModel) indicates that `k` is a valid keyword argument for the constructor method, but based on the [source code](https://github.com/bab2min/t

[2020-05-17 03:02] bab2min commented on #47
Thank you for find the bug. The fixing will be included in the next update!

[2020-05-17 03:02] #47 closed

[2020-05-19 19:07] ecoronado92 opened #49 "`infer` method topic distribution of doc mostly zeros"
Hi -

I fitted an HDP model tried to obtain the topic distribution for an unseen document. I do get a list, however most of the entries are zeros so I'm thinking there might be a rounding issues in the code.

Here's an example of how it looks like
[code]

Here's some other info on my OS
[code]

[2020-05-20 00:39] ecoronado92 commented on #40
@bab2min
If you're in a Jupyter Notebook I found the following to work as well using some magics `%` (`%set_env` or `%env`)
[code]
and then reloading the package

[2020-05-20 23:17] valmirselmani commented on #49
Hi,

I can confirm this behaviour, in most documents there are mostly zeros in the topic distributions and one or two topics have values greater than 0, which is usually 1, but it also can happen that the value is 1.0000157356262207 for example. It seems that HDP is very confident with the topic assignments.

I am currently writing a bachelor's thesis, where we are creating a topic model to propos

[2020-05-21 13:52] bab2min commented on #49
Thank you for reporting a bug. I'll examine it.

[2020-05-21 17:12] bab2min opened #50 "[new feature] converting HDP to LDA"
Gensim provides hdp_to_lda method for training or inference with topics fixed in a specific state. It is good for tomotopy to have this feature too.

[2020-05-21 17:21] bab2min opened #51 "[new feature] Convenient model description"
It is good for topic model instances to have a simple method showing its status and description like:

    mdl = tp.LDAModel(k=10, alpha=0.1, eta=0.1)

    # do some works

    mdl.model_summary() # will print like:

    # LDAModel
    # - hyperparameters
    # -- term weight scheme: one
    # -- k, number of topics: 10
    # -- initial alpha, concentrate parameters for doc-topic dist: 0.1
    # -

[2020-05-22 19:58] valmirselmani commented on #49
Any plans on when you're going to make a release so I can test?

[2020-05-24 17:45] valmirselmani commented on #49
I saw that you released a test version. I installed it and ran it through a small number of documents. I was afraid that the topics would change, but that is not the case. The results look much better now. Thanks for the quick fix.

[2020-05-25 04:25] bab2min commented on #49
Oh did you see the test version I'd released? Actually, it has some bugs about segmentation fault. It occurs not always, but often. So, I will check a little more and fix the problem and then include it in the next update.
Thanks for reporting it!

[2020-05-25 11:36] valmirselmani commented on #49
Yes, I installed it from test.pypi.org. But, I only tested the inference with a small number of documents, so I did not notice the error at all. Keep up with your good work!

I'll wait for the release to infer my 575k documents. 😅

[2020-05-26 16:06] Benja1972 opened #54 "'model.vocabs' gives full list of tokens even if it was filtered"
'model.vocabs' gives full list of tokens even if it was filtered. At the same time 'num_vocabs' gives number of tokens after filtering. It is confusing as model gives topic-words distribution as list on numbers on 'num_vocabs' and does not provides id2token dictionary. A kind of  'used_vocabs' needed to make any  down-steam analysis on produced topics

[2020-05-27 01:21] bab2min commented on #54
Your point makes sense. To avoid confusion, I'll add the `used_vocabs` and `num_used_vocabs` properties into models. Thank you for your good suggestion.

[2020-05-27 10:04] Benja1972 commented on #54
Thank you for response and proposal!

[2020-05-28 14:29] giuseppecarone opened #55 "Error when calling train(0) with LDAModel"
Hi, I'm following the example to train and use LDA model. After adding my documents with the method add_doc of LDAModel, when i call mdl.train(0) the code returns error (" Process finished with exit code -1073741819 (0xC0000005) "). I'm using tomotopy==0.7.1 with a python3.7 virtual environment on windows. Thanks

[2020-05-30 05:42] bab2min commented on #55
Could you give more information about your error?
If you share your code and data, the error can be reproduced easily, and it will help fix the bug quickly.

[2020-06-06 07:26] #49 closed

[2020-06-06 10:19] bab2min commented on #40
This issue was fixed at 0.8.0 version.

[2020-06-06 10:19] #40 closed

[2020-06-06 10:19] #50 closed

[2020-06-06 10:21] bab2min commented on #54
A new property named `used_vocabs` has been added since version 0.8.0 and the property `num_vocabs` has been deprecated. You can use `len(used_vocabs)` to get the number of vocabs used.

Thank you for your suggestion again!

[2020-06-06 10:21] #54 closed

[2020-06-06 10:22] #41 closed

[2020-06-06 14:00] ByungjunKim opened #57 "DTModel에서 시점별 토픽 분포 계산"
안녕하세요 tomotopy, kiwipiepy를 애용하는 대학원생입니다. (bab2min님은 사랑입니다.)
전에 kiwipiepy 관련해서도 질문햇었는데 기억하시나 모르겠네요.

얼마전에 DTModel이 추가되서 기존 gensim에서 너무나 느리게 돌아가던 DTModel을 tomotopy로 돌리니 비약적으로 학습시간이 줄어서 애용하고 있습니다. 정말 감사합니다.

문제는 시각화할때 인데요, 일단 시점별 토픽내 단어들의 분포 변화는 get_topic_word_dist를 활용하면 될거같은데요. 토픽 간의 분포 변화를 알고 싶습니다. 예컨대 이 코드 처럼(https://github.com/GSukr/dtmvisual) time 변화에 따른 토픽들의 비율 변화를 plot으로 그리려 하는데, gensim에서는 문헌별

[2020-06-09 16:08] bab2min commented on #57
안녕하세요, 관심가져주셔서 감사합니다!
제가 개발한 패키지들이 도움이 될 수 있다니 참 기쁘네요 ㅎㅎ
먼저 현재 gensim에서 제공하는 DtmModel은 변분추론을 이용해 파라미터 추정을 하는 반면, tomotopy.DTModel은 SGLD와 깁스 샘플링을 이용해서 파라미터 추정을 하고 있어서 그 구현 방법이 상당히 상이하기 때문에 두 패키지 사이에서 결과차이가 존재할 수 있다는 점 밝히는 바입니다.

링크 주신 dtmvisual 코드를 확인해보니 특정 시점의 토픽 분포를 계산시, 해당 시점에 속한 문헌들의 토픽 분포의 평균으로 계산하고 있습니다. 이와 비슷한 역할을 하는 코드는 다음과 같이 구현할 수 있을 것으로 보입니다.

[code]

gensim dtm과 비교해보니 tomotopy.DTModel에는

[2020-06-09 16:14] bab2min opened #59 "add num_timepoints & num_docs_by_timepoint for DTModel"
The current `tomotopy.DTModel`  is missing some features about the number of timepoints and documents. Suggest adding following properties into `DTModel`.
* `num_timepoints` (or `t`) : the value that is input as `t` of `__init__`
* `num_docs_by_timepoint` : the number of documents belonging to each timepoint

[2020-06-10 01:14] ByungjunKim commented on #57
세상에 이렇게 또 자세히 달아주시다니. 감사합니다. 저도 작게나마 기여하고싶은데 실력을 더 키워보겠습니다.

[2020-06-10 07:48] ZechyW opened #60 "Reproducibility issues even after setting model seed"
Hi, thank you for all your work on this amazing library!

I'm running into a strange issue with reproducibility: Even after setting the model seed, I'm still sometimes getting different LDA results with the same documents (a processed subset of the BBC news dataset).

My code is very simple -- It reads from a text file, where each line represents a single document with space-separated tokens, and

[2020-06-10 10:43] ZechyW commented on #60
Discovered that `PYTHONHASHSEED` seems to be affecting the results --

Invocating the script as:
` PYTHONHASHSEED=429467291 python lda.py`
always gives the first set of results, and invocating it as:
` PYTHONHASHSEED=429467292 python lda.py`
always gives the second set of results.

I wonder if it would be possible to have the algorithm give stable results across different hash seeds?

[2020-06-12 11:10] bab2min commented on #60
Thank you for reporting a potential bug.
I'll examine your code and data and figure out why PYTHONHASHSEED affects the results.

[2020-06-15 01:57] ZechyW commented on #60
Update: After a long fruitless wild goose chase trying to track down the source of the indeterminacy, something seems to have fixed it and I now only get the second set of results no matter what `PYTHONHASHSEED` is set to.
Chalk it up to the oddest of heisenbugs, and I'll be setting `PYTHONHASHSEED` for my project from now on to be safe, but I don't think I can reproduce this anymore 😱

[2020-06-17 18:45] RUMCS opened #61 "Error when installing tomotopy"
I am installing the package:

$pip3 install tomotopy

The installation freezes, it takes hours, the wheel spins very slowly (/)

Building wheels for collected packages: tomotopy
  Building wheel for tomotopy (setup.py) ... error
  ERROR: Failed building wheel for tomotopy
  Running setup.py clean for tomotopy
Failed to build tomotopy
Installing collected packages: tomotopy
    Running setup.py ins

[2020-06-18 02:02] RUMCS commented on #61
It took a long time to install but finally did it.

[2020-06-18 02:02] #61 closed

[2020-06-18 03:26] RUMCS opened #62 "Calling `infer` causes a crash"
Hi I need to extract the documents per inferred topic using HDP, how can I do this? Thank you.

[2020-06-30 15:50] bab2min commented on #62
Hello @RUMCS, sorry for late feedback.
What you want is to pick documents based on its topic, isn't it?
Since, in topic models including HDP, every document contains many topics, it is ambiguous to decide which document is on a particular topic.
Let's briefly define 'relatedness' to certain topics of a document as follows:
- A document is related to topic X if topic X is in the top 'n' among the d

[2020-07-10 06:50] #57 closed

[2020-07-11 17:28] ebergam commented on #59
Hi @bab2min , thanks a lot for this great work!

Are you planning to implement these features soon? It is quite crucial to be able to use the num_docs_by_timepoints parameter in order to be able to use your library.

This is another interesting resource you might be interested in https://github.com/GSukr/dtmvisual

thanks a lot!

[2020-07-12 09:22] bab2min commented on #59
Hello @ebergam, thanks for your attention to my work!
Currently I'm implementing the next version of tomotopy, and it will include this enhancement. So please wait a few more days.

[2020-07-12 09:51] ebergam commented on #59
Great, looking forward!
Thank you @bab2min :)

[2020-07-12 16:15] bab2min opened #63 "different results even if seed is fixed"
Depending on the environment(32bit or 64bit / SSE2, AVX or AVX2) in which tomotopy are installed, different results will be produced with the same seed.
It is possibly related to #60.

[2020-07-14 11:08] bab2min commented on #63
There are three possible causes.
1. Random Number Engine
https://github.com/bab2min/tomotopy/blob/400f06006f928db39ce2832830271ad0c87981b3/src/TopicModel/TopicModel.hpp#L13-L28

2. Prefix Sum
https://github.com/bab2min/tomotopy/blob/400f06006f928db39ce2832830271ad0c87981b3/src/Utils/sample.hpp#L123-L140

3. Eigen's redux function(sum())
The summation order can be varied by SIMD options.

(1) and (

[2020-07-14 15:33] #59 closed

[2020-07-21 22:12] jkaupanger opened #65 "Typo on the website"
Your HDP model area has a typo: it looks like the `convert_to_lda` and `is_live_topic` methods are exactly the same, although I'm assuming that they're not.

[2020-07-21 22:12] jkaupanger commented on #65
![image](https://user-images.githubusercontent.com/49381855/88112350-8b275400-cb64-11ea-83b0-7edbd46719b9.png)

[2020-07-22 15:05] bab2min commented on #65
Hi, @jkaupanger, thanks for reporting typo in the document!
It will be corrected in the next update.

[2020-08-04 15:26] bab2min commented on #51
`LDAModel.summary()` method has been added since version 0.9.0/

[2020-08-04 15:26] #51 closed

[2020-08-04 15:59] fanrenaz opened #67 "Can't set hyperparameter for CTModel"
TypeError: 'alpha' is an invalid keyword argument for this function

[2020-08-04 16:18] bab2min commented on #65
The documentation was fixed at version 0.9.0.

[2020-08-04 16:18] #65 closed

[2020-08-04 16:23] bab2min commented on #67
Oh, CTModel doesn't have argument `alpha`, but has `smoothing_alpha`.
The documentation and __doc__ string of CTModel seems to have a typo. I will fix it in the next update.
Thank you for your reporting.

[2020-08-05 16:41] jkaupanger opened #68 "Is there/what is the file extension for the LDA and HDP models?"
Just that: is there an extension, and what is it?

[2020-08-08 07:34] bab2min commented on #68
There is no official file extension for topic model in `tomotopy`.
Do we need a file extension? Which one would you like if it is necessary?

[2020-08-08 09:30] bab2min commented on #67
The typo was fixed in version 0.9.1

[2020-08-08 09:30] #67 closed

[2020-08-10 10:39] kaktuseis opened #70 "How is the inputdata preprocessed and structured?"
To run the script on my own dataset I need to know how the data has to be preprocessed and structured. I am especially interested in the input structure for the dtm.

[2020-08-14 19:01] jkaupanger opened #71 "Alpha and gamma values not what are being fed in as arguments"
It's entirely possible that this issue stems from my lack of understanding of this model or of HDP/LDA in general:

I've written a method that cycles through different hyperparameter values and trains the model so that you can see how the output changes with different values.

I just ran the method in PyCharm, and I saw some strange behavior: I input alpha as 10 ** -4 (0.0001), eta as 10 ** -1 (0.

[2020-08-15 13:26] bab2min commented on #70
Each input document of DTM has its `timepoint` and `words`. `Words` are converted into a list of vocab_id (integer) and `timepoint` into an integer with `[0, T)`. Finally the document-term matrices are built by each `timepoint`. So, `T` document-term matrices are created and used for estimating document-topic and topic-term matrices.
I'm not sure if this answer is appropriate for your question. If

[2020-08-15 13:30] bab2min commented on #71
Yes, the model automatically optimizes its `alpha` and `gamma` value.
If you want to fix these values, please set `hdp.optim_interval = 0`  before `train`.

[2020-08-17 05:23] kaktuseis commented on #70
Thanks, now I understand the input but I can not see at which lines in the code the document-topics and topic-term matrices are estimated. The topic distance output is very interesting but I also want to know which terms are new in a certain topic. An output of very topic at very timepoint would be of interest.

[2020-08-24 10:47] kaktuseis commented on #70
Thank you, this helped a lot!

[2020-08-24 13:01] #70 closed

[2020-09-07 07:29] FeryET opened #72 "How do Tomotopy models handle bigrams/trigrams?"
Hello.

One of the key aspects of gensim's LDA models are that they are capable of handling bigrams/trigrams via their dictionaries. I have searched through out your documentations but I couldn't find any notes/tutorials that also included using n-grams. I would be grateful if you could help me with this.

Thanks!

[2020-09-07 12:11] bab2min commented on #72
Hello @FeryET , you are finding the function similar to [gensim.models.phrases.Phrases](https://radimrehurek.com/gensim/models/phrases.html), aren't you?
Currently `tomotopy` has functions directly relevant to topic models and doesn't provide any phrasing functions such as bigrams or trigrams. So if you want to model using n-gram words, you should preprocess your text with phraser like gensim's Ph

[2020-09-07 15:54] FeryET commented on #72
So could I use the Phrases module provided by Gensim for this task + tomotopy? Because Tomotopy's HDP is way superior to Gensim both in time and quality.

[2020-09-09 12:55] bab2min commented on #72
Of course you can.
[code]
Please replace `sentences` with your input texts. And you may adjust min_count and threshold value for the better bigram result.

[2020-09-13 12:04] lemuria-wchen opened #73 "how to compute coherence score for a trained LDA model ?"

[2020-09-16 08:28] FL3Xxxx opened #74 "Tomotopy와 pyLDAvis를 연계할 수 있나요?"
저는 tomotopy hdp모델을 활용하고 있습니다.

pyLDAvis를 활용하기 위해서는 인자로 model, corpus, dictionary가 필요한데, tomotopy를 통해 학습된 모델을 넣으면
'tomotopy.HDPModel' object has no attribute 'num_topics'
문제가 발생합니다.

그 어떤 결과보다 tomotopy hdp모델이 결과가 좋아 꼭 활용하고 싶습니다. 연계가 가능할까요?

추가적으로 아래 과정과 같이 전처리가 완료되어 저장된 코퍼스의 문자열을 반환할 수 있을까요?

    corpus = tp.utils.Corpus(
        tokenizer=tokenizer
    )
    # 입력 파일에는 한 줄에 문헌 하나씩이 들어가 있습니다.
    co

[2020-09-16 10:37] bab2min commented on #73
Currently, `tomotopy` doesn't provide any function about topic coherence. Thus you may use [gensim's coherencemodel](https://radimrehurek.com/gensim/models/coherencemodel.html) or compute the score manually.
I plan to add similar features to `gensim's coherencemodel` in the next update, so please use above options until then.

[2020-09-16 10:51] bab2min commented on #74
pyLDAvis를 이용하는 예시는 https://github.com/bab2min/tomotopy/blob/main/examples/lda_visualization.py 에 있습니다만, 이 예시는 LDA 모델을 대상으로 하고 있습니다. 불행히도 HDP 모델은 바로 pyLDAvis에 입력으로 넣을수가 없어서 위 예시를 그대로 사용하지는 못합니다. 대신 HDP 모델의 경우 모델을 LDA로 변환해주는 convert_to_lda라는 메소드를 제공합니다. 따라서 HDP로 학습한 뒤 해당 모델을 convert_to_lda를 사용해 LDA로 변환한 뒤 pyLDAvis에 넣으시면 되겠습니다.
[code]

[2020-09-16 10:56] bab2min commented on #74
두번째 질문에 대해 답변드리자면, 현재 아쉽게도 Corpus클래스에서는 그런 기능을 제공하지 않습니다. 따라서 다음과 같이 직접 내부 변수에 접근하여 전처리된 내용을 확인하셔야 합니다.
[code]
다음 업데이트에는 좀더 편하게 Corpus 내의 문서들에 접근할 수 있는 인터페이스를 추가하도록 해야겠네요. 좋은 질문에 감사드립니다.

[2020-09-17 01:24] FL3Xxxx commented on #74
답변 정말 감사드립니다.

두 답변의 코드 모두 정상적으로 잘 작동하나,
마지막 시각화 부분에서
ValidationError:
 * Not all rows (distributions) in doc_topic_dists sum to 1.
가 발생합니다.

https://stackoverflow.com/questions/47998685/pyldavis-validation-error-on-trying-to-visualize-topics
위 답변에 따르면 해당 문제는 hdp 모델에서 발생한다고 하는데, doc_topic_dists에 길이가 0인 문서가 많아서 해당 부분을 사전에 제거해야 한다고 합니다.

ldamodel.docs의 길이가 0 인 문서를 사전에 처리하는 방법이 있을까요?

[2020-09-17 05:17] FL3Xxxx commented on #74
hdpmodel = tp.HDPModel(min_cf=0, tw=tp.TermWeight.IDF, corpus=corpus, rm_top = 5, seed = 1)

에서 rm_top 변수를 없애니 문제없이 작동함을 확인했습니다.

감사합니다.

[2020-09-18 05:40] #74 closed

[2020-10-07 11:28] Jiseong-Michael-Yang commented on #74
@bab2min 확인해본 결과 결과값이 잘 나옵니다. 답변 감사드립니다!

[2020-10-09 03:51] bab2min opened #75 "Clarifying the documentation about min_cf & min_df"

[2020-10-11 01:00] ankane opened #76 "Ruby Library"
Hey @bab2min, thanks for this awesome library! Just wanted to let you know there are now [Ruby bindings](https://github.com/ankane/tomoto) for it. The code and docs were incredibly easy to follow.

If you have any feedback, feel free to let me know. Thanks!

[2020-10-11 09:28] bab2min commented on #76
Hi @ankane , thank you for good Ruby binding.
I'll introduce it on README of this repository for Ruby users!

[2020-10-11 09:28] #76 closed

[2020-10-11 17:46] ankane commented on #76
Thanks @bab2min!

[2020-10-14 07:12] ankane opened #77 "Segfaults with alpha"
Hi @bab2min, just wanted to report some segfaults I came across when building the Ruby library.

[code]

tomotopy version: 0.9.1

[2020-10-14 07:13] ankane opened #78 "Exception: src/TopicModel/DTModel.hpp (436): No document with timepoint = 0"
Also came across an error with this script:

[code]

[code]

[2020-10-19 11:34] cybr17crwlr opened #79 "Is it possible to use autoLabeler with PAModel?"
So I trained a PAmodel and wanted to use the auto labeller using FoRelevance and PMIExtractor as shown in the Example code for LDAmodel. Is this support available as of now?

[2020-10-19 15:55] Huma97 opened #80 "Problem with HDP model"
Hi, @bab2min, thank you for such a great library. I'm trying to train HDP model for my dataset of news written in Russian (don't think it matters but still). But almost every time I train model (no matter what hyperparameters I chose) I see this picture:

<img width="606" alt="Снимок экрана 2020-10-19 в 18 54 05" src="https://user-images.githubusercontent.com/43617648/96475776-146e2580-123d-11eb-9

[2020-10-21 15:35] bab2min commented on #80
Hi @Huma97, thank you for report the bug.
The issue you reported clearly appears to be an error. I want to reproduce it, but it seems difficult without the data.
Could you share your dataset related to the bug?
If it is difficult to share your entire data, the minimum dataset where the error can be reproduced is okay too.
If you have any private data, you can send it by email. The data you will se

[2020-10-21 15:42] bab2min commented on #79
Hi @cybr17crwlr ,
Yes, of course you can. Just replace `LDAModel` to `PAModel` and change some parameters related to `LDAModel` with `PAModel`'s one.
If it doesn't work well, it could be a bug, so please report it.
Thank you.

[2020-10-22 16:14] Huma97 commented on #80
I sent the data I used for training to your email. It's only 612 preprocessed texts in Russian (already tokenized, lemmatized, stop words deleted and so on). I should mention that this is only news I collected for one day. So I tried running this model on news I collected for many other days and always witnessed the same 'nan problem'.

This is the code I use:

[code]

When I run this code with th

[2020-10-29 05:41] bab2min commented on #77
It has been identified as an error caused by accessing uninitialized data. It will be fixed at the next update.
Thank you for your reporting!

[2020-10-29 06:07] bab2min commented on #78
This is also identified as an error caused by accessing uninitialized data. It will be fixed at the next update too.
Thank you again for your reporting!

[2020-10-29 06:55] bab2min commented on #80
This was identified as an error that occurs during parallel multiprocessing. It will be fixed in the next update.
Or you can prevent this error now by turning off the multi threading with setting `workers=1`.
Thank you for reporting the bug.

[2020-10-31 07:59] bab2min commented on #73
To do: http://svn.aksw.org/papers/2015/WSDM_Topic_Evaluation/public.pdf

[2020-11-02 21:52] danielgarel opened #81 "Error in CTM"
I am working on a topic modelling project and want to use the Tomotopy implementation of CTM. So far I have succesfully implemented LDA and Pachinko in the same pipeline as CTM but for CTM I am getting the following error. I am uncertain of why this error arises or how to resolve this. We have tried changing the number of topics, the values for eta and introduced 'model.num_beta_sample=5'. I have

[2020-11-04 06:51] ZechyW commented on #73
Thank you for looking into this, @bab2min!

@FDU-SDS: In the meantime, here is a small snippet for getting the coherence scores from a `tomotopy` model via `gensim`, if it helps:

[code]

[2020-11-20 10:54] XiaoSong9905 opened #82 "Question about SLDAModel input parameter"
Hi,

Thanks a lot for your work on tomotopy!

I'm using the SLDAModel https://bab2min.github.io/tomotopy/v0.9.0/en/#tomotopy.SLDAModel but kind of confused about what does the parameter means. Wish you can help me.

I'm trying to train SLDA to predict document categories based on document information. The data I have is a text for each document and a category label (politics/travel/...) for that d

[2020-12-05 16:07] mtchibozo commented on #82
- "I'm trying to train SLDA to predict document categories based on document information. The data I have is a text for each document and a category label (politics/travel/...) for that document (41 categories in total). I've set the number of the topic of SLDA (k) to be 41, the same as the total number of categories I want to predict. When inference, I'll choose the topic with the highest likelih

[2020-12-10 16:02] Huma97 commented on #80
Hi @bab2min, I'm sorry it took me so long to answer. Setting `workers=1` fixed the problem with different results while using the same seed but I'm afraid the 'nan' problem still remains the same.
If I understood your last comment correctly using this code should fix this bug but it did not.

[code]
I would very grateful if you looked into it once more. Thank you!

[2020-12-10 16:11] bab2min commented on #80
Hi @Huma97 !
Actually I found some problems in HDP model's code, and it seems to affect this bug too.
I think it will be solved in next update surely, but it takes more time. So please wait more.
Thank you!

[2020-12-14 12:57] pb9615661 opened #84 "DT initialisation"
Hi there,

Is it possible to initialise the topic-word distribution of the DT model?
Normally I think this is done with LDA.

Thanks.

[2020-12-16 15:14] bab2min commented on #80
Hello @Huma97, a version that fixes the reported issue has been uploaded to test.pypi.org. If you want to test it earlier, you can install the dev version.
[code]
This dev version will be released as a main version after a few more tests.

[2020-12-19 07:09] #75 closed

[2020-12-20 04:08] bab2min commented on #77
fixed at version 0.10.0

[2020-12-20 04:08] #77 closed

[2020-12-20 04:09] bab2min commented on #78
fixed at version 0.10.0

[2020-12-20 04:09] #78 closed

[2020-12-20 04:10] bab2min commented on #72
Since version 0.10.0, `extract_ngrams` and `concat_ngrams` are added to `tomotopy.utils.Corpus` class.
Please see the example:
https://github.com/bab2min/tomotopy/blob/main/examples/extract_ngram.py

[2020-12-20 04:10] #72 closed

[2020-12-20 04:12] bab2min commented on #73
Since version 0.10.0, the module `tomotopy.utils.coherence` was added.
Please see the example:
https://github.com/bab2min/tomotopy/blob/main/examples/coherence.py

[2020-12-20 04:12] #73 closed

[2020-12-20 04:15] bab2min commented on #62
@fuaduae Oops, sorry for late answer.
The code in the above comment has typo errors.

`mdl.get_topic_words(top_n=5)` should be corrected to `mdl.get_topic_words(k, top_n=5)`.

[code]

[2020-12-20 04:16] #55 closed

[2020-12-20 04:16] #71 closed

[2020-12-20 18:31] alonjacovi opened #86 "Question about topic assignments with LDA models"
I'd like to infer topic assignments from a trained LDA model on a document, rather than the probability distribution over all topics. How can I accomplish this?

Thanks

[2020-12-20 19:26] ankane commented on #77
Thanks @bab2min, works great!

[2020-12-20 19:26] ankane commented on #78
Thanks @bab2min!

[2020-12-21 05:47] BrendanKennedy opened #87 "Interest in adding BiTerm Model (or other models for short texts)"
LDA and variants are known to perform poorly on short texts. Is a model like BiTerm Model (Yan, Guo, Lan & Cheng) in the plans, or would there be interest in it?

Thanks!

Yan, X., Guo, J., Lan, Y., & Cheng, X. (2013, May). A biterm topic model for short texts. In Proceedings of the 22nd international conference on World Wide Web (pp. 1445-1456).
 

[2021-01-06 22:53] rmalouf opened #88 "Asymmetric document/topic priors"
A feature request: would it be possible to allow an asymmetric prior for the document/topic distribution? That is, permit a vector (with length = # of topics) be given as the value of alpha in LDAModel (etc.)

Some reasons why one might want that are described, e.g., here:

Hanna M Wallach, David M Mimno, and Andrew  McCallum. 2009. Rethinking LDA: why priors matter.  NIPS'09: Proceedings of the 2

[2021-01-12 01:17] bab2min opened #89 "`Corpus.extract_ngrams` crashes when empty doc is inserted"
`Corpus.extract_ngrams` crashes when empty doc is inserted.
Also, it would be nice if there is an option to use NPMI instead of PMI at `extract_ngrams` and `label.Candidate` provides candidates' count information (frequency).

[2021-01-12 19:36] sadhana01 opened #90 "Get topic for train docs"
I would like to classify the train documents into their respective topics and I tried model.infer and it gave me a type mismatch error for 'doc'. Is there a better way of doing this ?

[code]
The code above gives the following error:
[code]

But I ascertained that the type of doc_inst is <class 'tomotopy.Document'>

train_words_lemmatized is a list of lists of words for each document tokenized and

[2021-01-14 13:08] bab2min commented on #90
```Exception: `doc` must be tomotopy.Document type or list of tomotopy.Document``` This exception seems to be a bug that appeared in version 0.10.0. You can avoid this bug using ```topic_dist, ll = model.infer([doc_inst])``` instead of ```topic_dist, ll = model.infer(doc_inst)```.

And actually for train documents, you don't need to re-infer them. You can just access their topic distribution like:

[2021-01-26 16:07] GiuliaLanzillotta commented on #81
Is there any news on this one?

[2021-01-26 16:55] bab2min commented on #81
Thank @danielgarel for reporting the bug and @GiuliaLanzillotta for reminding it.
Umm... it seems there are some potential bugs in the implementation of Truncated Multivariate Normal distribution.

https://github.com/bab2min/tomotopy/blob/e95b656c46c0d486c09f64a7d7718ce0195ed326/src/Utils/TruncMultiNormal.hpp#L10-L69

Normally, truncation domain `[A, B]` satisfies `A <= B`, but sometimes it seems

[2021-02-01 15:20] mayankchatteron1 commented on #63
@bab2min could you tell the timeline by which it will be finished?
even setting -
np.random.seed(123)
random.seed(123)

on same avx2 machine giving different results on a different run.

[2021-02-01 15:56] bab2min commented on #63
Hi, @mayankchatteron1
Since version 0.8.2, you can obtain the same result in the same machine when the seed is fixed with only `workers=1`.
If the result is different even though the seed is fixed on the same machine, please check that you set workers=1 first.
If you get different results even if workers=1, this is maybe another bug, so please report your source code.
Thank you!

[2021-02-01 16:42] mayankchatteron1 commented on #63
@bab2min Thanks it working now. Thank you again for the quick resolution.
But curious to know why different workers giving different results, is it due to some kind of model parallelism?

[2021-02-02 00:33] bab2min commented on #63
@mayankchatteron1 Yes.
In a multithreaded environment, it is impossible to completely control the execution order by software.
In order to control it, each inference step needs to be synchronized, which reduces parallelization efficiency and makes it virtually no difference from running on a single thread.

To avoid confusion, I'll update package to print a warning message when seed is fixed and w

[2021-02-04 11:57] masastat opened #91 "Inference of paths for unseen documents using HLDA"
Hi, thank you for a great library!
I am using HLDA model. I would like to get a path for an unseen (not used  for training) document `doc` .
[code]

However, 'doc.path' for an unseen document seems to be wrong (though 'doc.path' for a document used in training seems to be correct).

`doc.path` for unseen document contains multiple same values. (for example, `array([  0,   0,   0,   0, 216], dtype=

[2021-02-07 22:38] andrewmsilva commented on #90
I'm with a similar problem: I save the model with `full=False` and need to get the topic distribution from the train documents when I reload the model. However, as `full=False` was used, I guess `.infer(doc)` is necessary. Do you know a way to avoid re-inferring the data and get the topic distribution?

[2021-02-08 15:14] bab2min commented on #90
Hi @andrewmsilva,
Topic assignments of words in training documents is only saved when `full=True`. Unfortunately, if you saved the model with `full=False`, there is no way to restore topic assignments of training docs, so you cannot avoid re-inferring. The only way to avoid re-inferring is to save the model with `full=True`.

[2021-02-08 19:10] crawlserv opened #92 "First-order Relevance: Lambda for Maximal Marginal Relevance"
In the original paper about the automated topic labeling (Mei, Q., Shen, X., & Zhai, C. 2007, Automatic labeling of multinomial topic models, in: Proceedings of the 13th ACM SIGKDD International Conference on Knowledge Discovery and Data Mining, 490–499), the lambda parameter for calculating the Maximal Marginal Relevance has been set to 0.2 (p. 496). In the C++ implementation the default value (a

[2021-02-09 10:07] bab2min commented on #92
Hi @crawlserv ,
Actually, Maximal Marginal Relevance is not implemented yet. So the lambda parameter in c++ code is currently just a dummy. When the implementation is complete, I plan to expose it to the Python interface, so please wait.
Thank you.

[2021-02-10 05:20] bab2min commented on #91
Hi @masastat , thank you for reporting.
The problem you reported was considered a bug and is currently being fixed.
It will be patched in the next minor update, so please wait a bit.
Thank you!

[2021-02-14 10:01] #80 closed

[2021-02-14 10:01] #79 closed

[2021-02-14 10:01] #44 closed

[2021-02-14 15:22] bab2min commented on #88
@rmalouf Thank you for suggesting a new feature!
I'll implement asymmetric prior feature in next major update. Please be patient as it may take some time.
Thank you!

[2021-02-14 15:33] bab2min opened #94 "New integrated phrasing function"
Currently, phrasing functions are duplicated in `tomotopy.utils.Corpus.extract_ngrams` and `tomotopy.label.PMIExtractor.extract_ngrams`. It would be better to redesign it with one unified function.

Requirements
* should receive either a raw `tomotopy.utils.Corpus` or bound one.
* should receive streaming input (no need to load all data into memory at the same time)
* also supports NPMI + BE scori

[2021-02-14 15:45] bab2min commented on #91
@masastat
It has been fixed since v0.10.1. Also I added a new sample about HLDA (https://github.com/bab2min/tomotopy/blob/main/examples/hlda_basic.py). I hope it helps.
Thank you again for reporting!

[2021-02-14 15:45] #91 closed

[2021-02-14 15:45] #89 closed

[2021-02-14 15:46] bab2min commented on #90
The bug (https://github.com/bab2min/tomotopy/issues/90#issuecomment-760185952) has been fixed at v0.10.1.

[2021-02-14 15:46] #90 closed

[2021-02-16 06:48] #81 closed

[2021-02-16 09:30] bab2min commented on #81
@danielgarel, @GiuliaLanzillotta
The problem was determined to be due to numerical instability of Truncated Multivariate Normal implementation. I have released version 0.10.2 that solved the problem.

https://github.com/bab2min/tomotopy/blob/77fcff050351facdcc17b86910d437f49554f094/src/Utils/TruncMultiNormal.hpp#L10-L67
https://github.com/bab2min/tomotopy/blob/77fcff050351facdcc17b86910d437f49554f

[2021-02-23 21:33] kapadiup opened #96 "Labels being generated are the same for every topic"
It seems like when I try to use the get_topic_labels using the example provided in the documentation, I am getting the same label for every topic in the train model result.  Can you please let me know if this is how it is supposed to work or how to go about getting the label based on the topic list of words per topic.

[2021-02-24 00:50] bab2min commented on #96
Hi, @kapadiup
Thank you for your interest to this package.
Could you share your code that generates the same labels? It will help you figure out the cause of the error if you share it.

[2021-02-26 11:35] Olivier-Lakoue opened #97 "ModuleNotFoundError: No module named any of '_tomotopy_avx2', '_tomotopy_avx', '_tomotopy_sse2', '_tomotopy_none'"
Hi,

I just discovert this package with seems great :).

I use Windows 10 / Anaconda / Jupyter, Installation with OK ( ! pip install tomotopy, tomotopy 0.10.2)
==> tomotopy in c:\users\a147701\appdata\local\continuum\anaconda3\lib\site-packages (0.10.2)

I wanted to test it as indicated in the github pag :

    import tomotopy as tp
    print(tp.isa) # prints 'avx2', 'avx', 'sse2' or 'none'

Resul

[2021-02-26 11:49] bab2min commented on #97
Hi @Olivier-Lakoue
I found that the current 0.10.2 version was built incompatible with the old version of numpy.
Could you try to upgrade your numpy?

[code]

[2021-02-26 12:09] Olivier-Lakoue commented on #97
Hi bab2min,

Thanks for your quick response.

after reinstalling numpy-1.20.1, it work !

import tomotopy as tp
print(tp.isa) # prints 'avx2', 'avx', 'sse2' or 'none'

Out : avx2

Normal that i just have 'avx2' ?

thanks, i'm gonna try your package, seems to have very nice features on it !!

Olivier.

[2021-02-26 12:09] #97 closed

[2021-02-26 18:34] Jurgita-DS commented on #62
I am trying to get topic probabilities for each document after training an HDP model but the kernel keeps dying. I only have 12,000 documents and I tried scoring in 100 document chunks but still the same issue. I tried changing together parameter to False but it didn't make any difference either.
I was able to generate topic probabilities on the same set of documents with no issues using  LDA mode

[2021-02-28 08:57] bab2min commented on #62
Hi @Jurgita-DS,
Could you share the version of your python and tomotopy where the problem occurs?

[2021-02-28 15:34] Jurgita-DS commented on #62
Hi @bab2min,
I am using python version 3.7.4 and tomotopy  0.10.2.

The issue seems to be somehow related with scoring certain document instances, however, I cannot see anything wrong with those documents.
texts is a list of documents where each document is a list of tokens, e.g. [[word1, word2], [word3, word4, word5]].
If I, for example, exclude the 8000th document the below code works fine.

[co

[2021-02-28 16:54] bab2min commented on #62
@Jurgita-DS
Thank you for sharing details.
It seems that the combination of the 8000th document's content and the trained HDPModel cause a crash.
Probably there is a potential flaw in the code on the current `infer` method of HDPModel. As a result of writing the test code as follows in the same environment as the one you shared with, we found that a crash occurs in the infer function with some pro

[2021-03-01 14:11] bab2min commented on #62
@Jurgita-DS
I've fixed code that is suspected to be causing the problem. After removing current tomotopy package, you can install dev version using following command:
[code]
I would appreciate it if you try to do the same code with the dev version.

[2021-03-01 17:48] Jurgita-DS commented on #62
@bab2min
I have tested the dev version and `model.infer()` worked fine, generated topic probabilities for all 12k documents.
However, `convert_to_lda`  is causing the kernel to die.

[2021-03-02 12:16] jonaschn commented on #97
The same issue occurred with numpy-1.19.4 and Python 3.8.2.
An update to numpy-1.20.1 solved the issue.
@bab2min Please update the [requirements.txt](https://github.com/bab2min/tomotopy/blob/main/requirements.txt)
This project looks amazing! Thanks for your good work :smiley:

[2021-03-02 12:25] jonaschn opened #99 "Automatically link the docs to the latest release"
The shortcut to the API docs [bab2min.github.io/tomotopy](https://bab2min.github.io/tomotopy) redirects to

https://bab2min.github.io/tomotopy/v0.10.1/en/
instead of
https://bab2min.github.io/tomotopy/v0.10.2/en/

Maybe there is some way to redirect automatically to the latest release.

[2021-03-02 13:22] bab2min commented on #99
Hi @jonaschn
Thank you for notifying.
Actually the main doc's link is updated manually now. I'll find the way to redirect automatically.

[2021-03-02 13:23] bab2min commented on #97
@jonaschn
Thank you for reporting.
In the next update I'll update the `requriments.txt` to fix the problem.

[2021-03-02 13:35] bab2min commented on #62
@Jurgita-DS
Uhmmm, could you share the value for docs' `uid` of `Corpus` feeded to `HDPModel` if you provided `uid` for docs?

[2021-03-04 12:10] Olivier-Lakoue commented on #97
Hi bab2min,

So i make some tests with tomotopy and it's a very very usefull and robust tool for LDA, congratulations !

I'm a french developper and i would like to deploy LDA topic Modeling with corpus in french.
nltk have french data for dic & stop words so is it possible to uses it for french or we need other models ?

Thanks, regards.

Olivier.

[2021-03-04 13:35] gonzalezf opened #100 "Question: How it works set_word_prior ?"
Hi all,

I hope you are safe and doing well. Could anybody explain to me how set_word_prior() method works? I know how to use it in my code, but I would like to understand what the algorithm is doing. Is that implementation based on any paper/article?

Best,

[2021-03-05 11:15] bab2min commented on #100
Hi @gonzalezf, nice question!
It's actually simple. When initializing the LDA model, each word is assigned to a random subject with an uniform distribution. `set_word_prior` manipulates this distribution to be non-uniform, thus it can increase tendency to be assigned to a specific topic for a specific word.

Similar ideas can be found in the following paper: [Lin, C., & He, Y. (2009, November). Jo

[2021-03-06 10:49] jonaschn commented on #99
Thanks for fixing manually. I'll leave this issue open.
Feel free to close it if you found a way to automate this process.

[2021-03-08 19:35] Jurgita-DS commented on #62
@bab2min
How do I get uid of ```Corpus```?
This is how I created corpus:
[code]

[2021-03-09 00:56] bab2min commented on #62
@Jurgita-DS
Aha, you created without `uid` param. I'll check it. Thank you!

[2021-03-22 17:07] cadmusthefounder opened #101 "allow for direct pickling of model classes"
currently model.save() allows saving to a file, but sometimes pickled bytes are preferred.

[2021-03-22 19:31] zhenliu2012 opened #102 "Cannot retrieve the gamma states matrix from inference"
Hi I'm new to the tomotopy implementation of LDA models, I'm wondering if there's a way to get the gamma states in addition to the topic distribution from the output of LDAmodel.infer(docs). The topic distribution is normalized to have a sum of probabilities to 1, but what I'm trying to get is the model states gamma before the normalization.
My use case is that when the unseen doc to be inferred i

[2021-03-23 11:39] bab2min commented on #101
Hi @cadmusthefounder
Thank you for your suggestion.
I'll add `tomotopy.LDAModel.loads()` and `tomotopy.LDAModel.saves()` method for reading from and writing to `bytes`.

[2021-03-23 12:47] bab2min commented on #102
Hi @zhenliu2012,
Currently `get_topic_dist()` or `infer()` return a normalized distribution only. But sometimes the unnormalized results is needed, as you said.
I'll add an optional argument `normalize` to `get_topic_dist()` that controls normalization of the result in the next update.
Thank you for your good suggestion.

[2021-03-23 19:29] benreaves opened #103 "numpy version mismatch"
`python

RuntimeError Traceback (most recent call last) RuntimeError: module compiled against API version 0xe but this version of numpy is 0xd
...
$ pip install numpy==1.20.1

`

I think setup.py needs to require that numpy version be >= 1.20.1

[2021-03-26 12:04] bab2min commented on #103
It has been fixed since version 0.11.0.

[2021-03-26 12:04] #103 closed

[2021-03-26 12:06] bab2min commented on #102
Now you can get the raw distribution likes:
[code]

[2021-03-26 12:07] bab2min commented on #101
Hi @cadmusthefounder,
New methods `loads()` and `saves()` are added to topic model classes since version 0.11.0.

[2021-03-26 12:07] #99 closed

[2021-03-26 12:11] bab2min commented on #88
Since version 0.11.0, asymmetric doc-topic priors are supported in various topic models.
See more detail at https://bab2min.github.io/tomotopy/v0.11.0/en/ .

[2021-03-26 12:11] #88 closed

[2021-03-26 12:14] #82 closed

[2021-03-26 13:53] bab2min commented on #86
@alonjacovi
Sorry for the late reply. Oh, I accidentally forgot to answer it.
You can get topic assignment of each word in a trained or an inferred document. (https://bab2min.github.io/tomotopy/v0.11.0/en/#tomotopy.Document.topics)

Get the document first, and access `topics` property to get topic assignment.
[code]

[2021-03-27 05:47] ByungjunKim opened #106 "gdmr_both_categorical_and_numerical.py 코드 에러 관련"
안녕하세요.
늘 감사한 마음뿐인 김병준입니다.
이번 패키지 업데이트에서 g-dmr이 명목변수도 추가 가능하다는 말을 듣고 코드를 돌려보고 있는데요.

https://github.com/bab2min/tomotopy/blob/main/examples/gdmr_both_categorical_and_numerical.py

위 코드에서 아래 부분이 다음과 같이 에러가 나네요.

[code]
degrees 파라미터를 바꿔야 할까요?

감사합니다.

[2021-03-27 15:40] bab2min commented on #106
안녕하세요 @ByungjunKim
앗, 제보 감사합니다. 해당 예제를 테스트하는걸 놓쳤었네요.
입력 인자를 파싱하는 부분에서 문제가 있는 걸로 확인됐구요
일단은
[code]
로 alpha를 list로 입력해서 문제를 회피할 수 있습니다.

[2021-03-27 17:24] bab2min commented on #106
@ByungjunKim
해당 문제가 해결된 0.11.1 버전을 배포했습니다.
다시 한번 에러 제보해주신 점에 감사드립니다.

[2021-03-27 22:46] #106 closed

[2021-03-27 23:55] ByungjunKim commented on #106
바로 고쳐주셔서 정말 감사합니다.
논문에 팍팍 반영해보겠습니다.

[2021-03-29 06:06] hhagedorn opened #107 "Adding document metadata into the DMR-Model"
Hi everybody,
in a current project, I am using various models from this great package. One Model which seemed particularly interesting is the DMR-Topic Model, but when I was trying to deploy it I failed to properly include the metadata of the given documents.

From my understanding of the paper, which the model is based on, each document can be linked to an arbitrary amount of metadata labels from

[2021-03-30 02:47] ZechyW opened #108 "Documentation page is down"
Hi @bab2min, It looks like the documentation page for the latest release (https://bab2min.github.io/tomotopy/0.11.1/en/) is down -- Probably an easy fix, but wanted to give you a quick heads up about it!

[2021-03-30 02:50] bab2min commented on #107
Hello @hhagedorn
As you said, the original version of DMR, introduced by the paper, can accept multi-hot vectors as metadata. But `DMRModel` in the current version of `tomotopy` is optimized for only one-hot vectors. In other words, it can accept only a single label.
(This is because I thought that it would receive one-hot input mainly, so I optimized it for only that case at the time of initial d

[2021-03-30 02:58] bab2min commented on #108
Hi @ZechyW,
Oops, The redirection had an incorrect address. You can access the documentation page with correct url (https://bab2min.github.io/tomotopy/v0.11.1/en/).
The redirection has been fixed, but it may take some time to be reflected due to the cache.
Thank you for reporting!

[2021-03-30 06:29] hhagedorn commented on #107
Hello @bab2min,
thank you for the quick response.  I am glad to hear that, I think the `DMRModel` is quite promising in a number of cases with mixed/ multi-label data, as it constitutes a less restrictive approach than for example the `PLDAModel`.

May I ask if you already have any rough plan on when you might introduce the next update? Like will this rather be within a couple of weeks or more lik

[2021-03-30 10:08] #108 closed

[2021-03-30 10:19] bab2min commented on #107
@hhagedorn
In fact, this development is not my main job, so it is difficult to confirm the schedule.
I think it will be completed in April. If you need this feature quickly, I can provide a test version to you in advance rather than a release version. The test version is expected to be available within 2 weeks.

[2021-03-31 11:35] hhagedorn commented on #107
Hi,
that sounds great, thank you. I've got time to wait till the end of April, so there should not be any need to rush for a test version. Nevertheless, thank you very much for the offer. This not being your main job, makes all your effort and support even more remarkable.

[2021-03-31 12:46] cadmusthefounder commented on #101
thanks for the quick release!

[2021-03-31 12:46] #101 closed

[2021-04-01 15:37] jonaschn opened #109 "Interest in adding Author-Topic Model?"
Is a model like the Author-Topic Model (Rosen-Zvi et al.) in the plans, or would there be interest in it?

The only available implementations I am aware of are:
- [TopicModel4J](https://github.com/soberqian/TopicModel4J/blob/master/src/main/java/com/topic/model/AuthorTM.java) (using collapsed Gibbs sampling)
- [Matlab Topic Modeling Toolbox](https://github.com/jonaschn/Matlab-Topic-Modeling-Toolbo

[2021-04-03 09:20] cadmusthefounder opened #110 "Question on running tomotopy on multiple cores and threads"
In the docs, the following is mentioned:

[code]

Can you clarify on how to run tomotopy on multiple cores and threads? Will it by default use all the available cores on the machine? An example on how to do this is much appreciated.

[2021-04-06 12:29] bab2min commented on #110
Hello @cadmusthefounder ,
`model.train` or `model.infer` method have the `workers` argument, which controls the number of threads using training / inference. Its default value is 0 and it means that all available cores will be used [(documentation)](https://bab2min.github.io/tomotopy/v0.11.1/en/#tomotopy.LDAModel.train).

These methods also have the `parallel` argument, that selects a parallel alg

[2021-04-07 03:46] cadmusthefounder commented on #110
@bab2min I am a bit confused with your statements

and

which seems to conflict with each other, as from my understanding, each core (aka process) can have multiple threads. So if setting `workers` argument as 0 control the number of cores used, then it shouldn't be able to control the number of threads used for each core.

[2021-04-07 04:00] Dobatymo commented on #110
@cadmusthefounder I think tomotopy doesn't use multiple processes, just multiple threads (@bab2min please correct me if I am wrong). It's the operating system's job to distribute the threads to different cores. So if you have 8 cores, running 8 threads should run 1 thread per core. More threads per core won't have any advantage afaik.

[2021-04-07 15:32] bab2min commented on #110
@cadmusthefounder
Sorry for the confusion. As @Dobatymo said, tomotopy doesn't use multi processing, but multi threading.
"All available cores will be used" meant that one thread will be created for each logical core. So ideally, the workload of each thread can be distributed evenly across each core and in this sense, I expressed it as "all cores can be used".

[2021-04-07 15:42] #102 closed

[2021-04-07 22:31] jonaschn commented on #87
In version 0.11.0 the [Pseudo-document based Topic Model ](https://bab2min.github.io/tomotopy/v0.11.1/en/#tomotopy.PTModel)was added.

Zuo, Y., Wu, J., Zhang, H., Lin, H., Wang, F., Xu, K., & Xiong, H. (2016, August). Topic modeling of short texts: A pseudo-document view. In Proceedings of the 22nd ACM SIGKDD international conference on knowledge discovery and data mining (pp. 2105-2114)

[2021-04-08 04:46] cadmusthefounder commented on #110
@bab2min @Dobatymo thanks for the clarification, I understand now :)

[2021-04-08 04:46] #110 closed

[2021-04-08 07:03] SE93WO opened #111 "Question: How to get unseen docs ll_per_word after infer method?"
Hi.

Currently, Infer method return log-likelihoods each docs. Is there a way to get the unseen docs ll_per_word?

Thank you.

[2021-04-08 08:01] ZechyW opened #112 "Providing a conda package"
Hi @bab2min, would you consider providing official conda versions of `tomotopy` as well (e.g., via [conda-forge](https://conda-forge.org))?
It would help a lot with integrating the library into primarily conda-based environments.

[2021-04-10 15:55] bab2min commented on #112
Thank you for good suggestion, @ZechyW
After looking at conda-forge, I'll add distributions for conda.

[2021-04-10 16:09] bab2min commented on #111
Hello @SE93WO
As you said, currently `infer` method returns only log-likelihoods. So you should calculate `ll_per_word` from `log-likelihoods` in the current version.
To do this, you first need to find the number of words in each document to be inferred like:
[code]

Actually, the inconsistency of log-likelihoods between train and infer stage is a kind of mistakes in the library design.
I will try

[2021-04-11 01:24] #111 closed

[2021-04-12 16:53] giuliaok commented on #62
Hi, I am using Python 3.8 and Tomotopy 0.11.1, having a similar issue as @Jurgita-DS . I tried to downgrade to tomotopy==0.10.2 and the problem reproduces equally.

While working both on Jupyter various methods would kill my kernel - `get_topic_dist` and `get_topics` - in particular. As Jupyter wouldn't provide me with loads of debugging information I run my script from the terminal where I got a

[2021-04-13 15:27] bab2min commented on #62
Hi @giuliaok ,
Sorry for providing the unstable version.
Could you share your code that caused a segmentation fault?
I cannot reproduce similar problems in my setting, thus I have a difficulty to figure out that bug.
If you have code or data that cannot provide publicly, it is okay to send them to my personal email (bab2min@gmail.com). I'll use them for only debugging, not any other purpose and de

[2021-04-14 12:48] giuliaok commented on #62
Hi, thank you for coming back and no apologies needed, I love the package!
I have issues in reproducing the problem myself. If I have a model, let's say:

[code]

and add documents to it with:

[code]

where documents is whichever type of text list, I then train the model as:

[code]

Until here everything works perfectly. When I try to apply whichever method to the trained model, such as for inst

[2021-04-15 16:13] bab2min commented on #62
@giuliaok
Thank you for sharing your detail. I'll examine it.

[2021-04-16 15:40] bab2min commented on #62
@giuliaok, could you do me a favor?
Can you check if the kernel randomly dies in your environment when running the same code but without argument `min_cf = 30, rm_top = 20` ?

[2021-04-20 11:21] ByungjunKim opened #113 "GDMR 연속 변수 2개 입력시 올바르게 학습되지 않는 현상"
안녕하세요 GDMR을 활용하려고 모델링 하던중에(연속 변수가 2개)
2개 변수중 하나의 변수가 학습이 제대로 되지 않는 현상이 있어서 문의 드립니다.

아래 처럼 연속 변수(float)를 리스트 형태로 모델에 추가했습니다.
![image](https://user-images.githubusercontent.com/7889473/115387421-9e5f7100-a215-11eb-96ec-b18772932bbc.png)

아래 처럼 모델도 초기화하였습니다.

[code]

그런데 학습 과정에서 아래처럼 log-likelihood가 nan으로 찍히네요. 그래서 확인해보니
_Iteration: 0 Log-likelihood: nan_

첫번째 연속 변수가 제대로 학습되지 않습니다. 무슨 문제일까요?
example

[2021-04-20 13:12] bab2min commented on #113
안녕하세요 @ByungjunKim 님.
음, 일단 첫번째 연속변수의 분포를 점검해봐야할거 같은데요
혹시 token_meta_dict[k]['MAD_COMM'][0] 중에 nan이 포함되어있지 않은지 확인해주실 수 있나요?

그리고 현재 `GDMRModel.add_doc`이 `numeric_metadata`의 입력값을 점검하지 않고 있는데, nan이나 inf 같이 비정상적인 값이 입력되면 경고 혹은 오류를 내보내도록 개선이 필요하겠네요.

[2021-04-20 19:27] ebergam opened #114 "Adding DIM model?"
Would adding the Document Influence Model be of interest? I reckon it would be a great addition to tomotopy.
Gensim's counterpart for DTM includes the DIM model. In case, here an [example](https://markroxor.github.io/gensim/static/notebooks/dtm_example.html) and here the [paper](http://users.umiacs.umd.edu/~jbg/nips_tm_workshop/30.pdf).

[2021-04-20 19:40] ebergam opened #115 "Unbalanced time periods in DTM model"
As I understand it, DTM model takes variable `t = [0, T)` number of timepoints, and slices the corpus evenly, according to the integer. Hence, with `N` documents, each time period would include `N/T` documents. In this way, it's not possible to have more documents in period `t=1`, then there are in `t=2`.

Am I misunderstanding?

If I am not, this could be much more flexible (especially for applie

[2021-04-22 15:47] bab2min commented on #114
Hi @ebergam
Thank you for great suggestion.
I'll review the paper and see if it can be added to the next major update.

[2021-04-22 16:03] bab2min commented on #115
Oh, I think there seems to be a misunderstanding in slicing the timepoints evenly.
It does not mean that all timepoints should have the same number of documents. Actually each timepoint can have different number of docs. Slicing the time evenly means that the spacing between each adjacent timepoint is the same. It is a major limitation of DTM because some models such as cDTM(continuous DTM) can ac

[2021-04-26 15:28] bab2min commented on #107
@hhagedorn , sorry for a little later update than scheduled.

A test version of DMRModel with multiple metadata labels is just uploaded.
You can install it like this:
[code]
Multiple labels are supported by `multi_metadata` argument of `add_doc` and `make_doc` methods.
`metadata`, single label argument is remained for backwards compatibility.

Also a new method `get_topic_prior()` was added. It es

[2021-04-27 09:07] hhagedorn commented on #107
No worries, thank you very much for all of your efforts.

It looks great and I will try it out within the next couple of days!

[2021-04-27 15:27] bab2min commented on #62
@giuliaok
Honestly, I haven't yet figured out the obvious cause of the problem.
But, I found a bug where words excluded by `min_cf` or `min_df` were given an inappropriate topic id and it may cause a crash at showing topic information of those words.
I've updated a new test version. I'd appreciate it if you can run the same with the new version  to see if the problem occurs.

[code]

[2021-05-07 09:15] marcelned opened #117 "PowerPC compilation error"
It is mentioned in the repo docs that the pip installs is available for x86 architectures, and that the source code has to be compiled on other architextures.

On ppc64le, we get the following error on compiling: (gcc 10)

<img width="895" alt="Screenshot 2021-05-07 at 11 13 40" src="https://user-images.githubusercontent.com/82392567/117427395-4a4ad100-af25-11eb-8390-7152ca2de172.png">

[2021-05-10 12:22] bab2min commented on #117
Hi @marcelned
Actually, I didn't consider about the ppc architecture at the testing process.
Since I do not currently have any native powerpc equipments, I will try to solve the compilation problem by testing using the emulator. It will take some time, but I would appreciate it if you test again after my work is complete.

[2021-05-11 12:57] DongqingSun96 opened #118 "Convert a document-by-term frequency matrix to corpus class"
Hi,

As I know, `genism` provides a function `Sparse2Corpus` to convert sparse matrix to Gensim `corpus` format. Is there a similar function in `tomotopy` which can convert a document-by-term matrix to `corpus` class in `tomotopy`?

Thanks.

[2021-05-14 06:46] marcelned commented on #117
Thank you @bab2min

[2021-05-15 00:18] RutgerEttes opened #119 "why aren't the PTModel topic distributions equal for documents of the same pseudodocument?"
When working with the PTModel, i noticed that the topic distributions obtained via doc.get_topic_dist() would return different distributions for documents that had been assigned to the same pseudodocument. If i read the original paper correctly, the topic distributions for each document should be the same as the topic distribution for the pseudodocument it is part of. Is this a bug or am I missing

[2021-05-15 00:25] RutgerEttes opened #120 "grammar mistake in attribute error"
When running doc.pseudo_doc_id with an LDA model, the error reads "AttributeError: doc doesn't has `pseudoDoc` field!". This should be "doc doesn't have `pseudoDoc` field!" or "doc has no `pseudoDoc` field!".

[2021-05-16 10:18] bab2min commented on #119
Hi @RutgerEttes ,
Thank you for asking a good question.
As you said, currently `doc.get_topic_dist()` of `PTModel` return the distribution based on topic allocation for the real document's words, so it may be different from the pseudo document's one.
I'll add an optional argument `from_pseudo_doc` to `get_topic_dist()` in the next update so that we can choose whether to get the distribution from a

[2021-05-16 10:22] bab2min commented on #120
Hi @RutgerEttes,
Thank you for reporting grammatical errors.
Since I am not a native English speaker, there may be many errors in the document.
I'll fix it in the next update!
If you notice any grammatical errors or better translations related to the documentation, please feel free to report it.

[2021-05-18 06:55] hhagedorn opened #121 "Question: Calculating Coherence. What words are expected as Targets?"
Hello @bab2min,

I am trying to use your implementation of the C_v coherence measure to evaluate both topic models that are included in tomotopy and some that are not. Therefore I generated a `tomotpy.utils.Corpus` to initialise the `.Coherence` class.

But I am a little confused with the `targets` parameter. Does it expect the whole vocabulary of the Corpus (or at least the vocabulary that is rel

[2021-05-24 09:50] bab2min commented on #121
Hi @hhagedorn,
Sorry for the confusion due to the unclear documentation.
For `targets`, the latter is correct. In other words, you just pass a set of words in to-be evaluated topics as `targets`.

The reason why `targets` is required is for computational efficiency. Calculating co-occurrence of all words from `LDAModel.used_vocabs` consumes a lot of time and memory. If you know the words to be eva

[2021-05-28 06:27] hhagedorn commented on #107
Hi,

in the meantime I trained all the models and using the new functionality in DMR works great, thank you!

I just have one small remark, I don't even know if it is important to mention. When I wan't to inspect priors for given metadata in DMR, everything works great and exactly like described in the documentation. However, the method is not "known" to the Python implementation, i.e. my IDE tell

[2021-05-28 15:46] bab2min commented on #107
@hhagedorn, I'm glad the new functionality works well.
For IDE issues, can you tell me which IDE and linter you are using?

[2021-05-30 06:28] hhagedorn commented on #107
I am using PyCharm (Community Edition). But I am not sure whether the problem is linked to the IDE. When I inspect the DMRModel Class, all the methods and parameters are there - except the newly added ones. I.e. there is no `get_topic_prior()` or `multi_metadata_dict`. Since it is not shown, but I can actually call it nevertheless, maybe it is just an issue with the version upgrade on my machine?

[2021-06-01 18:58] jwijffels opened #124 "R wrapper"
any plans for an R wrapper for the C++ functionalities?

[2021-06-03 15:40] ebergam commented on #115
Hi @bab2min , thanks a lot for your kind reply, now it's much clearer!

[2021-06-03 15:40] #115 closed

[2021-06-03 15:48] bab2min commented on #124
Hi @jwijffels ,
Unfortunately, I don't know how to handle R, so it would be difficult to write a wrapper for R.
But anyone who knows the R's C/C++ API and writes a wrapper for R base on this repository is always welcome.

[2021-06-03 16:08] ebergam opened #125 "Multiple per-topic-word-priors crash jupyter kernel"
Hi @bab2min !
I was trying to do something similar the [guidedLDA](https://github.com/vi3k6i5/GuidedLDA) model (which I think would be worth adding to `tomotopy`, it is very powerful!).

I tried to add more then one word prior, with same probability, for several topics, using your [example](https://github.com/bab2min/tomotopy/blob/main/examples/word_prior.py) code.

As soon as I try to train the m

[2021-06-03 16:33] jwijffels commented on #124
Is the raw src code of tomoto at https://github.com/bab2min/tomotopy/tree/main/src or is the original source code from another repository?

[2021-06-04 13:04] bab2min commented on #124
@jwijffels
Actually, there is a private repo for c++ base of `tomoto`, but it is inaccessible for public. The codes in  https://github.com/bab2min/tomotopy/tree/main/src is the same as that, you can use them freely.

[2021-06-04 13:05] bab2min commented on #125
Hi @ebergam
Thank you for reporting the bug. I'll examine it.

[2021-06-04 13:50] jwijffels commented on #124
I'll have a look to see if I can create the Rcpp wrapper.
Is the C++ code self-sufficient enough or is there a lot in the Python part?

[2021-06-04 14:03] bab2min commented on #124
Core functions related to training and inference are gathered on the C++ side in `src/TopicModel`. You can find detailed interfaces in header files (*.h), for example:

https://github.com/bab2min/tomotopy/blob/9592b89c4c86f5c8cf55696669d7d0a1f0779954/src/TopicModel/TopicModel.hpp#L219-L268

https://github.com/bab2min/tomotopy/blob/9592b89c4c86f5c8cf55696669d7d0a1f0779954/src/TopicModel/LDA.h#L172-

[2021-06-04 15:29] jwijffels commented on #124
Thanks. I'll see how far I can get.

[2021-06-04 19:24] #124 closed

[2021-06-07 02:12] RutgerEttes opened #126 "bug: cv topic coherence dependent on size of reference corpus"
I was calculating c_v topic coherence for several topic models with a reference corpus of 100000 wikipedia articles, with pretty high coherence scores (0.65ish). for my final results i wanted to use a larger amount of articles to avoid unnecessary bias from the sample of articles and therefore started using 200000 articles. when i did so, the coherence score dropped to approximately 0.5. I figured

[2021-06-14 08:33] marcelned commented on #117
@bab2min  any feedback on this as yet?

[2021-06-16 17:22] bab2min commented on #117
@marcelned
It seems that some dependent also have issues with PowerPC, which will require more time to troubleshoot.
I'm sorry, but please wait a little longer.

[2021-06-17 12:59] bab2min commented on #125
Hi @ebergam,
It has been finally proved that `LDAModel.set_word_prior` causes a crash after `add_doc` called.
I will update the patch that fixes this bug soon.

Thank you again for reporting the bug.

[2021-06-21 00:17] #120 closed

[2021-06-21 00:17] #125 closed

[2021-06-28 17:02] bab2min commented on #118
Oops, sorry for late answer. I forgot this issue totally.
Currently, `tomotopy` doesn't provide such function, because its internal implementation cannot accept a matrix in bag-of-words format. To insert sparse matrix into `tomotopy`s `corpus` at current version, you should restore the word list from the matrix, and call `add_doc()` repeatedly.

If utility functions like Dense2Corpus or Sparse2Cor

[2021-06-28 17:06] bab2min commented on #118
Adding new features into `tomotopy.corpus.Corpus`
* `Corpus.from_dense_matrix(matrix, vocab_dict) -> Corpus`
* `Corpus.from_sparse_matrix(matrix, vocab_dict) -> Corpus`

[2021-06-30 22:30] AnnieKArmstrong opened #128 "AttributeError: module 'tomotopy' has no attribute 'LDAModel'"
Hi!

When I import Tomotopy and then try the print(tp.isa), I get an attribute error: "AttributeError: module 'tomotopy' has no attribute 'isa'"

I also get an attribute error when I try to run the model:  AttributeError: module 'tomotopy' has no attribute 'LDAModel'

I've unimported and reimported the package, but I'm not sure what else to do.

Thanks for your help!

Best,

Annie

PS--I'm an adva

[2021-07-01 10:32] bab2min commented on #128
Hello @AnnieKArmstrong,
It seems that `tomotopy` wasn't installed properly in your environment.
Could you share your os, python version, and command line you used to install `tomotopy`?

[2021-07-01 23:44] batmanscode opened #129 "[QUESTION] What's the difference between add_corpus and add_doc?"
Hi, this is a wonderful library! Very grateful that you've put in the time to create and maintain this. Thank you 😃

Forgive my ignorance, but besides the `transform` parameter, what is the difference between `add_corpus` and `add_doc`?

[2021-07-03 10:27] bab2min commented on #129
Hi @batmanscode
Thank you for your interest to my package!

First, every topic model in `tomotopy` has its own internal document type. You can create and add a document suitable for each model through each model's `add_doc` method. So far it's good.
However, trying to add the same list of documents to different models becomes quite inconvenient, because you should `add_doc` for the same list of do

[2021-07-05 18:33] batmanscode commented on #129
Thank you @bab2min that was a very thorough explanation! Very much appreciated 😊. I think corpus might come in handy as I play around with more models.

Please consider adding your explanation and example to the docs. I think that would be helpful. Maybe you can put it right before "Parallel Sampling Algorithms".

[2021-07-07 15:37] bab2min commented on #129
@batmanscode Thank you for the good suggestion.
I'll insert it into documentation at the next update!

[2021-07-24 21:04] batmanscode opened #130 "[QUESTION] Is there a way to remove stop words?"
I'm not sure if I've missed it in the docs but is there a way to remove stop words from a pre-defined list?

Right now I'm using `rm_top` for this.

[2021-07-24 21:36] jmparelman opened #131 "set_word_prior be used with Correlated Topic Model?"
I'm wondering if the set_word_prior function is compatible with the correlated topic model? My understanding of CTM is that the per document distribution is logistic normal and the per topic word distribution remains a Dirichlet, and in dynamic topic model the opposite is true (document distribution is Dirichlet, topic distribution is logistic normal).

For my research, I'm interested in the possi

[2021-07-24 21:52] jmparelman commented on #131
I just reread Blei and Lafferty's 2006 DTM paper, and wow... realized this was s silly question given that they also use the multinomial logistic in DTM. Since you developed your implementation of DTM on their methods, I'm just going to go ahead and close this now.

[2021-07-26 03:20] bab2min commented on #130
Hi~ @batmanscode ,
Currently models including `tomotopy.LDAModel` and its derived classes do not provide such functionality.
If you can use `tomotopy.utils.Corpus` you can set your stopword to its `__init__` method, otherwise you should filter stopwords manually.

I'll think about a good interface to specify stopwords when inserting corpus into topic model or creating corpus.

[2021-07-26 03:41] bab2min commented on #131
Hi @jmparelman,
Yes, it's possible that one model's posterior is used as another model's prior.
However, I'm not sure if this method can provide a unified view of the entire data.
Following this method, you will get separated models by time and each model is connected weakly to its previous-time model.
In this scheme, only a model at time `t-1` can effect a model at time `t`, and not vice versa. A

[2021-07-28 21:25] batmanscode commented on #130
I see, thank you @bab2min!

And idea for the interface:

Two new arguments:
* `stopwords` with parameters `None`, `"default"` and `"custom"`
* and `stopwords_list` with `"default"` and `[user specified path]`

where `stopwords = "default"` uses a built-in list of common stopwords and `"custom"` requires adding a path to a custom list by using `stopwords_list = [path]`

[2021-07-28 21:25] #130 closed

[2021-07-29 15:54] julienOlivier3 commented on #62
@bab2min
I can confirm the kernel dies regardless of whether you specify `min_cf`, `rm_top` or `min_df`. To me it happens when working with a PLDAModel which I train on a corpus of ~6,000 documents with each document having at most a character length of 1,000,000. After training the model sucessfully infering the topic distribution of a new document via make_doc() and get_topic_distribution() caus

[2021-07-29 16:16] bab2min commented on #62
Hi @julienOlivier3
Thank you for sharing your experience.
Can you test if the crash still occurs when you provide a small list of docs (2 or 3)?
In my opinion, if it's a storage issue, it shouldn't happen when a short list is given, but only when a long list is given.
Otherwise, there may be some bugs in implementation of infer for multiple docs.

[2021-08-05 10:18] ozls opened #132 "Citation"
Hello! First off, thanks for tomotopy, it's really great. I actually used your implementation of LDA and PTM in my thesis, and I wanted to know: how can I cite your project? Would you be open to provide a bibtex snippet or something to that effect? If you're not interrested don't worry about it, I can simply cite the Github usernames of the contributors as authors. Thanks in advance!

[2021-08-05 13:40] bab2min commented on #132
Hi @ozls
Thank you for your attention to this package.
You can cite this package using following doi : https://zenodo.org/badge/latestdoi/186155463 (https://zenodo.org/record/5000206/export/hx#.YQvqTY4zabg)
or GitHub username and repository link.

[2021-08-05 14:43] ozls commented on #132
Perfect, thanks!

[2021-08-09 07:42] haeunkim832 opened #133 "hLDA의 유효한 토픽은 무엇일까요?"
안녕하세요
hDLA코드를 돌리면서 의문이 생겨서 여쭤봅니다.

토픽의 번호가 1~40이면 모두 있는 것이 아닌 것과 is_live_topic이 동일한 맥락일까요?
그리고 유효한 토픽의 정의가 궁금합니다.

[2021-08-10 00:54] bab2min commented on #133
@haeunkim832
네, train 과정에서 새 토픽이 생성되고 소멸되는게 반복되기 때문에 전체 데이터 상에 1~40번 토픽이 들어가있더라도 특정 train 시점에서는 일부 토픽들이 소멸되고 존재하지 않는 상황일 수가 있습니다. 그래서 is_live_topic이라는 메소드로 특정 토픽이 소멸된 토픽인지 아닌지를 판단하게 한 거구요. 살아있는 토픽만 따로 골라내서 0번부터 차례로 배치할수도 있겠지만 이 경우 매 train step마다 토픽을 재배치해야해서 속도가 너무 느려지는 문제가 있어서 어쩔수 없이 토픽 번호는 그대로 유지하고 죽은 토픽의 자리는 공석으로 비워두는 식으로 구현했습니다~

[2021-08-10 07:01] #133 closed

[2021-08-10 07:02] haeunkim832 commented on #133
답변 정말 감사합니다. 이해가 잘되었습니다.

[2021-08-18 00:01] MarkWClements opened #134 "Sample-lag Specification for Gibbs Sampling"
Hello,

Thank you for putting together this awesome package. I have one question regarding how the Gibbs Sampling is done under the hood. In other applications of Gibbs Sampling there is an option to specify the sample-lag.  Averaging over samples to estimate
the target distribution requires i.i.d. samples. However, future samples depend on the current samples (i.e., the
Markov assumption). To avo

[2021-08-18 13:46] #132 closed

[2021-08-18 16:58] bab2min commented on #134
Hello @MarkWClements
The current version of tomotopy uses only a sample from the latest model state. Although this often leads to inaccurate estimation, this method was adopted because of its low memory usage and low computational load.

I understand that there are situations where accuracy is more important than speed or efficiency. So I'll consider adding a new feature, averaging over samples wi

[2021-08-18 20:19] MarkWClements commented on #134
Thanks for your detailed response. As an middle ground that might be quicker to implement but increase accuracy could you consider a Thinning approach as described here

https://mc-stan.org/docs/2_18/reference-manual/effective-sample-size-section.html

Thinning the samples in this way will result in an effective sample size with an autocorrelation that is lower than the current method but closer t

[2021-08-18 22:13] ankane opened #135 "C++17 compilation with Apple Clang"
Hi @bab2min, I've been trying to compile tomoto with C++17 for the [Ruby library](https://github.com/ankane/tomoto) since the latest version of Rice - Ruby's version of pybind11 - no longer supports C++14.

To test it, I changed `-std=c++1y` to `-std=c++17` in `setup.py`. It works great with GCC on Linux, but with Apple Clang on Mac, it errors with:

[code]

I haven't had any luck with my attempts

[2021-08-18 22:26] ozls opened #136 "PTM: Default setting for number of pseudo-documents"
Should the default really be to have 1 pseudo-document? This makes PTM into the LDA. It's a bit conter-intuitive to have to tweak this parameter in order to have specific behaviour. I think a reasonable default could be 10*K, as Zuo et al. set the numbe rof topics to 100 and the number of pseudo-documents to 1000.

[2021-08-19 12:37] solhakim opened #137 "hLDA 파라미터 질문"
@bab2min
안녕하세요 ㅎㅎ hLDA를 잘 사용하다가 궁금한 점이 있어 이렇게 글 남기게 되었습니다.
gensim의 ldamodel에서의 passes의 기능이 hLDA에서는 burn-in  파라미터와 동일한 것인지 궁금합니다.
passes는 모델 학습시 전체 코퍼스에서 모델을 학습시키는 빈도를 제어하는 파라미터이고 tomotopy의 hLDA의 burn-in은 파라미터 학습 초기의 Burn-in 단계의 반복 횟수를 얻거나 설정합니다. 라고 되어있는데, 혹 이게 같은 기능인지 궁금합니다 ㅎㅎ

감사합니다.

[2021-08-19 14:15] alexs131 opened #138 "HDP Model document-topic distribution and topic-word distribution does not sum to 1"
Hello, I have encountered an issue where the document-topic distribution for some documents does not sum to 1, and the sum of the topic-word distribution also does not sum to 1. I am running version 0.12.1, with hyperparameters `tw=TermWeight.PMI,` `gamma=1,` `alpha=0.1,` `eta=0.001,` `initial_k=20,` `seed=1.` I have run the HDP model previously on a different, larger dataset, and did not encounte

[2021-08-21 06:38] solhakim commented on #137
혹, LDA와 같은 토픽이 hLDA에서 상위 토픽으로 나오려면 어떻게 하면 좋을까요..? 파라미터는 depth 3 gamma 1.0 eta 1.0으로 해보았을때 상위(depth2)가 LDA와는 다르게 단어의 폭이 좁게 나와 질문드립니다.

[2021-08-21 13:11] bab2min commented on #136
Hi @ozls
Thank you for your good suggestion.
I agree that setting default value to 1 is inappropriate and your suggestion has more sense.
I'll change the default value to `10*k` in the next update.
Thank you again.

[2021-08-22 10:29] bab2min commented on #137
안녕하세요 @solhakim 님
1) 먼저 gensim과 tomotopy는 둘다 토픽 모델링을 수행하기는 하지만 내부적인 구현에는 상당한 차이가 있다는걸 알려드립니다.
gensim은 변분 베이즈 추론을 기반으로 토픽 분포를 추정하는 반면, tomotopy는 기브스 샘플링을 이용해 추정합니다.
gensim의 passes와 유사한 역할의 인자는 tomotopy에서는 `train()`의 iteration인데요, 둘다 주어진 데이터를 바탕으로 몇 번의 추정을 반복할 것인지를 지정하는 역할을 합니다. 다만 그 규모가 크게 달라요. gensim의 passes는 몇 십에서 몇 백 정도로도 충분히 수렴된 결과를 얻을 수 있지만, tomotopy의 iteration은 일반적으로 몇 백에서 몇 천 번 이상이 되어야 수렴된 결

[2021-08-22 13:00] bab2min commented on #135
Hi @ankane
Thank you for reporting potential compilation errors.
I've patched the code to solve this issue.
Please try with this branch (#139).

[2021-08-22 15:55] dennishylau opened #140 "Fatal Python error: Segmentation fault when calling `HLDAModel.make_doc().get_topics()`"
Hi, thank you for your great work!

I have been experimenting with the HLDA model, and whenever I try to get the topics of a document, my Notebook kernel crashes.

System: MacOS 10.15.7, Python 3.9.4

Code:
[code]

Stack Trace
[code]

Please let me know if there is anything else I can do to help with debugging, thank you.

Update 1: `get_topic_dist()`also crashes.

[2021-08-22 17:28] ankane commented on #135
Big thanks @bab2min, works great! (in both Python and Ruby)

[2021-08-22 17:28] #135 closed

[2021-08-23 21:06] alexs131 commented on #138
To update, it also appears that none of the topics are marked as live topics in the model, which may influence why the distribution does not sum to 1

[2021-08-24 12:18] bab2min commented on #138
Hi @alexs131
Thank you for reporting the bug.
It seems to be a problem with floating point precision errors.

https://github.com/bab2min/tomotopy/blob/926f6ff34599a19d20b322f8b1a13fe66e8c5986/src/TopicModel/HDPModel.hpp#L493-L506

Currently, the numerator(`doc.numByTopic`) and denominator(`doc.getSumWordWeight()`) of topic distribution are stored separately, and it seems that errors in these value

[2021-08-24 16:07] bab2min commented on #140
Hi @dennishylau
Thank you for reporting a bug.
When you run `make_doc()`, it creates a document without any topic assignment. So calling `get_topics()` in this situation will not give you proper result. You need to call `infer()` to estimate the distribution of topics in the doc before calling `get_topics()`.

[code]

I'll fix crashes when calling `get_topics()` or `get_topic_dist()` and add a war

[2021-08-24 16:51] dennishylau commented on #140
Hi @bab2min, wow thank you for the prompt reply! That makes perfect sense, what a silly mistake on my end. Closing this issue now, have a nice day!

[2021-08-24 16:51] #140 closed

[2021-08-27 23:49] davidsgrogan opened #141 "Question: getting documents with highest proportion of a topic from HDPModel"
I'm using HDPModel on 14,000 documents. The resulting topics and their frequency across the corpus are good based on domain knowledge. But I'm struggling to get documents that are representative of a topic, where representative means the documents have highest proportion of tokens from that topic.

Borrowing from https://github.com/bab2min/tomotopy/issues/74, I tried this:

[code]

But no matter w

[2021-08-28 04:28] #129 closed

[2021-08-28 04:34] bab2min commented on #62
@mmawada
Yes, I checked the mail.
I tried to reproduce them but failed. It seems to be a problem that is probably only happening with certain data. Could you share your code piece and data?
If it is difficult for you to share your code or data publicly, it is okay to send them to my email.

[2021-08-30 17:12] mmawada commented on #62
The data files are over 600MB , where can I share them with you privately
?

On Sat, 28 Aug 2021 at 00:34, bab2min ***@***.***> wrote:

[2021-08-30 21:35] mmawada commented on #62
I attach the data files below and the code .
 hdp_model_eqwgts.bin
<https://drive.google.com/file/d/1rRX0alChLrjCoTIzD9G_472I68xZ2pJv/view?usp=drive_web>
 hdp_model_pmi.bin
<https://drive.google.com/file/d/1JOPdsi4Lh-o3II-Kfu5tc34hUJsVVIDE/view?usp=drive_web>
With the same data the convert_to_lda was working with version 10 , but
with the new version 12 , the kernel is dying so it is definitely a

[2021-08-31 07:53] bab2min commented on #62
Thanks @mmawada
I've received the file you shared well. I'll examine that bug!

[2021-08-31 17:31] bab2min commented on #62
@mmawada
It was confirmed that the cause of the problem was that the words removed from the modeling by `min_cf`, `min_df` or `rm_top` were not properly processed in the converting to the LDA model.
The problem can be reproduced when calling `convert_to_lda` of HDP model with `min_cf > 0`, `min_df > 0` or `rm_top > 0`.

This bug will be patched in the next update. Thank you for reporting the bug a

[2021-08-31 21:07] mmawada commented on #62
I am very glad you found the bug . Could you send me the updated file as
soon as possible, please?  I would I appreciate it if you email it to me
too .

Thank you very much,
Mark

On Tue, 31 Aug 2021 at 13:31, bab2min ***@***.***> wrote:

[2021-09-01 01:23] MarkWClements commented on #62
I am having an issue when training an LDA model, I get 'uid' values of  `''` for all documents. I also don't see any option to provide document ids to the Corpus as you mention here. Is there the capability of including user defined document ids?

[2021-09-01 07:42] ebergam opened #142 "Interest in adding Structural Topic Model?"
Hi @bab2min , thanks again for your awesome work.
In R, one of the most popular packages implements structural topic models. https://cran.r-project.org/web/packages/stm/vignettes/stmVignette.pdf .

As far as I know, a python counterpart does not exist, it might be interesting to include it into tomotopy.
Here is the paper: https://scholar.princeton.edu/files/bstewart/files/stmnips2013.pdf

thank y

[2021-09-01 20:57] mmawada commented on #62
@bab2min , I presume  Dev 0.12.2 the version  has the correction to the bug I found above .  How can we upload this to update the installed version of tomotopy ?  Thank you

[2021-09-02 02:02] #119 closed

[2021-09-02 02:02] #136 closed

[2021-09-02 04:09] bab2min commented on #62
@mmawada
Now a test binary for v0.12.2 is building. After building, you can get it using following command:

[code]

[2021-09-02 16:34] mmawada commented on #62
Thanks a lot! Please let me know when the building is done.

On Thu, 2 Sept 2021 at 00:09, bab2min ***@***.***> wrote:

[2021-09-03 12:31] bab2min commented on #62
@mmawada Done! (https://github.com/bab2min/tomotopy/actions/runs/1192523849)

[2021-09-03 12:32] bab2min opened #144 "Problems with empty uid"
I am having an issue when training an LDA model, I get 'uid' values of  `''` for all documents. I also don't see any option to provide document ids to the Corpus as you mention here. Is there the capability of including user defined document ids?

_Originally posted by @MarkWClements in https://github.com/bab2min/tomotopy/issues/62#issuecomment-909785385_

[2021-09-03 12:35] bab2min commented on #144
@MarkWClements
You can provide `uid` as optional argument to `Corpus.add_doc` like followings:
[code]

I'll supplement the documentation about this.

[2021-09-03 18:49] mmawada commented on #62
Awesome, thanks!

On Fri, 3 Sept 2021 at 08:31, bab2min ***@***.***> wrote:

[2021-09-22 16:15] bab2min commented on #142
Hi @ebergam, sorry for the late answer.
Thanks for the good suggestion.
I'll take a look at the paper and see if it can be implemented efficiently.

[2021-09-22 16:15] #137 closed

[2021-09-23 20:27] jlevy44 opened #146 "Bad Allocation using DTModel"
Hi there, I am running into an issue right now when following dtm.py. My jupyter notebook returns:
[code]
when attempting to training the model.

Document loading appears to be okay, but not sure why this is happening. Are there some expensive array initializations? Thanks!

[2021-09-23 20:31] jlevy44 commented on #146
Removed DTModel and replaced with LDAModel and worked just fine.

[2021-09-30 16:15] jlevy44 commented on #146
Can you please assist with DTModel? Is anyone running into this issue?

[2021-09-30 17:21] bab2min commented on #146
Hi @jlevy44
Sorry for late reply.
Could you share more detail about your environment including OS, Python version and tomotopy version?

[2021-10-19 01:49] MarkWClements commented on #144
Is there a way to add a uid after the model is already trained to the existing documents in the trained model or do I have to re-train the model with this feature. Also, do the documents persist in the same order in which they are fed into this:

corpus = tp.utils.Corpus()
for doc in docs:
        corpus.add_doc(words=doc)

That is when I call

trained_docs = lda.docs

is trained_docs[n] the same

[2021-10-20 15:57] bab2min commented on #144
Hi @MarkWClements

1. Currently, there is no feature about modifying `uid`. I'll add it to future development features.

2. Usually, `trained_docs[n]` is the same document as `docs[n]`, except a few case where `corpus` has unsupported documents (e.g. documents with no word). You can check it by test their length: `len(trained_docs) == len(docs)`.
If `len(trained_docs)` is different from `len(docs)

[2021-10-25 10:43] EvanDufraisse opened #147 "Different log-likelihoods per doc on inference"
Hello,

I'd like first to thank you for sharing this wonderful library !

To monitor my experiments, I'd like to use a validation set to control the convergence of an LDA model.

I don't understand why after inference over a validation dataset, the returned log-likelihoods per document aren't the same whether I consult them using doc.get_ll() or using the array of log-likelihoods.

Illustration:
`

[2021-10-25 15:53] #147 closed, assigned to nobody

[2021-10-25 16:26] bab2min opened #148 "Improve documentation for model's log-likelihood"
Suggested by #147 .
`mdl.infer()` vs `doc.get_ll()`

[2021-10-25 16:39] bab2min opened #149 "New optional argument for selecting log-likelihood"
Suggested by #147.

[code]
Currently, `ll_per_doc` are actually sums of ll for doc-topic and ll for topic-term in above code.
But depending on the situation, it may be convenient to return a different ll value. So suggest following a new argument:
[code]
A valid `ll_type` is one of followings:
* `doc+topic`: sum of ll for doc-topic and ll for topic-term
* `doc`: only ll for doc-topic
* `topic`: on

[2021-11-03 21:26] davidsgrogan commented on #141
Ok, this is great info. I didn't realize that the words from the topics with weight < 0.02 were randomly reassigned. I though they were dropped, somehow.

I found that my "top 2 documents representative of a topic" code worked when I trained `LDAModel` from the beginning, which let me avoid `convert_to_lda`. So I'm sticking with `LDAModel`, at least for now, because `LDAModel` gave results as good

[2021-11-04 04:34] bab2min commented on #141
@davidsgrogan
I think that since `HDPModel` constantly searches for an appropriate `k` value, it generally takes much more iterations to converge that LDA, and its result is often unstable. Thus, with a fixed `k` value, `LDAModel` outperforms `HDPModel` in many situations. So if you can choose an appropriate `k` value manually, `LDAModel` is a better choice. HDP is better than LDA only in that it

[2021-11-09 18:39] neonfuzz opened #150 "Issue saving/loading PAModel"
tomotopy 0.12.2

Possibly related to Issue #36.

Training a model with
[code]

works just fine and produces:
[code]

However, when I try to save and re-load:
[code]

it seems that no parameters have actually loaded, and python crashes with a segfault (as also happens when asking for topic distributions of an untrained model):

[code]

I've tried `full=True` and `full=False`, `save`/`load` and `sav

[2021-11-09 21:48] Frank-Gao-UCB opened #151 "Obtain Topic Distribution for Documents in the Model"
I am training a simple LDA model.

The _infer_ method allows the predictions of topic distributions of **unseen** out of the model documents.

What should I do to get the predicted topic distributions of documents **in the model**?

[2021-11-10 11:36] bab2min commented on #150
Hi @neonfuzz ,
`load()` is a static method that returns a new instance of model loaded from the file. So you should take its return value like:
[code]

But if you call `load()` as non-static-method, `mdl` will remain in its initial state.
[code]

And, it is true that a SIGSEGV occurs when calling `summary()` in the initial state is a bug, and I will fix it separately from this issue.

[2021-11-10 11:43] bab2min commented on #151
Hi @Frank-Gao-UCB ,
you can access the documents in the model and get topic distribution of them as follows:
[code]

[2021-11-10 21:55] neonfuzz commented on #150
Oh my goodness, what an easy fix!
That solved my problem; thank you so much.

[2021-11-10 21:55] #150 closed

[2021-11-17 20:13] bertomartin opened #152 "Removing a topic from a HDPModel"
hi, I have a HDP model and I was wondering if there's an easy way to remove a topic from the model. For instance, it's easy to check whether a topic is "live" or "dead" but can you update the model to not include the dead topics then re-save the model artifact? I guess this would also involve removing the tomotopy documents associated with the dead topics.

[2021-11-18 11:38] bab2min commented on #152
Hi @bertomartin
As you know, currently tomotopy has no feature about removing dead topics from HDP models.
This is because dead and live topics can be swapped out during training, so removing them in the training process causes frequent reallocations and slows down the total training procedure.
But if you want to remove dead topics after the whole training finished, that seems a pretty reasonable

[2021-11-18 11:52] bab2min commented on #152
Blueprint of `purge_dead_topics` method of `tomotopy.HDPModel`:
[code]

[2021-11-18 15:56] bertomartin commented on #152
@bab2min thanks for the response. Yes I meant to purge them after the model's being built (training is already completed). Your Blueprint makes sense to me. What I'm really after is having a contiguous set of clean topics, so I can do topic similarity and don't try to query a 'dead' topic for similarity. Or just outputting them in pyldavis, I don't want to see the dead topics as it doesn't really

[2021-11-30 21:35] bertomartin commented on #152
Thank you! In the meantime I was wondering if I could somehow filter out these topics when I do the ldavis display. So basically the plan is to construct the display as below:

[code]

The problem is the docs are not related to K, or at least I don't see how to relate them. Ideally I would only want docs that occur in live topics to be able to get this to work.

[2021-12-02 16:25] bab2min commented on #152
@bertomartin
You can filter out dead topics using numpy indexing like:
[code]
I uploaded a new example cooperating pyldavis and HDPModel.
https://github.com/bab2min/tomotopy/blob/main/examples/hdp_visualization.py

[2021-12-02 20:04] bertomartin commented on #152
Sweet! I figured out a hacky way but this looks better. Thank you!

[2021-12-02 23:17] bertomartin commented on #152
One thing I notice when I do this is that some of the "live" topics don't seem to have any terms!

[2021-12-06 16:25] aaronjbecker commented on #126
@RutgerEttes I'm surprised you were able to get tomotopy's coherence functions to work on a model/corpus with 100k articles, do you have any replication code? When I try to run coherence on 100k cleaned wikipedia articles, it takes hours and sometimes silently fails after consuming all 64GB of RAM on my machine...

Did you find that the coherence score for a set of topic words trained using tomoto

[2021-12-09 21:16] stephangreene opened #153 "Support for Apple Silicon M1"
Is support for the M1 on the roadmap?

I get the following when trying to install on M1:

$ pip install tomotopy
Collecting tomotopy
  Using cached tomotopy-0.12.2.tar.gz (1.1 MB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy>=1.11.0 in /Users/sgreene/miniforge3/lib/python3.9/site-packages (from tomotopy) (1.21.1)
Building wheels for collected packages: tomotopy
  B

[2021-12-10 10:08] bab2min commented on #153
Hi @stephangreene ,
Currently, tomotopy don't support Apple Silicon M1.
I am working on M1 support, but this may takes some time.
Please use Rosetta until M1 is fully supported.

[2021-12-15 22:35] stephangreene commented on #153
Thanks @bab2min I appreciate the effort on this. Look forward to trying out when ready.

[2021-12-22 09:23] abhishekrathi09 opened #154 "Error: 'y' must be an iterable of float"
With SLDAmodel method
`add_doc(self, words, y=[])`
y must be Iterable[float]

I have tried with pandas Series, list and array of float type but receiving error
Error: 'y' must be an iterable of float

when I am printing this in for loop, it is working. but not working with below code.
[code]

[2021-12-23 12:14] bab2min commented on #154
Hi @abhishekrathi09
Could you share more detail about your situation?
I think the type of `docs_train` and `y_train` matters.
It would be helpful to solve the problem if you give a small example for `docs_train` and `y_train`.

[2022-01-20 02:09] Raymond-KT opened #155 "HLDA Visualization"
Hello.

Thank you for making the package so that you can easily use various topic modeling techniques.

In the case of LDA, there is an example of visualizing.
But, There seems to be no HLDA case.

Depending on your example code, I saved up to the tmm format file.
But, I can't visualize the result.

I would like to ask if there is a way to visualize HLDA result so that Hierarchy can be seen.

Than

[2022-01-23 17:56] jlevy44 commented on #146
I'll get back to you, as this is work with a collaborator. Do you have any tips of things to try when this happens?

[2022-01-24 02:02] bab2min commented on #155
Hi @Raymond-KT
As far as I know there are no Python tools to visualize hierarchical topic models.
So I recommend to extract the hierarchy of topics and its words from model and to draw the diagram manually.
You can print detail information of HLDA model using `mdl.summary()` method.
[code]

[2022-01-24 16:08] bab2min commented on #146
Hi @jlevy44
`bad_alloc` exception is thrown usually when the memory allocation is failed. But I think system memory is enough to train DTM in most of use case. So we need to determine if this problem is due to an unusual case that requires a lot of memory, or a case where the system memory is very low, or if it is a memory allocation bug in tomotopy.
If you could share a minimal reproducible piece

[2022-01-27 09:13] benreaves commented on #121
Hello @bab2min  - thank you for the time you put into maintaining tomotopy!

I'm having some trouble that might be similar to @hhagedorn : I'm calculating the same c_v coherence on a model that had earlier been trained and saved to disk, like this:
[code]
On the second line, I'm not specifying targets value, only the saved model. I understand it might be slow, but my concern is that it sometimes c

[2022-01-27 19:27] PearlOnyx08 opened #156 "holdout perplexity"
It appears that the perplexity used mdl.perplexity is fixed to the training set. Would it be possible to add a function to calculate perplexity on a pre-defined holdout set?

[2022-01-29 17:05] mschweitzer96 opened #157 "Federated LDA"
Hi,

I want to use the tomotopy package to build a federated topic modeling protoype. I am training local LDA models on different clients, aggregate the topic-word distributions of all parties in a master model and broadcast aggregated topic-word distributions back to the clients for the next iteration.

In the next iteration I want to train the LDA models on the different parties based on the top

[2022-01-29 18:45] azhark2 opened #158 "Passes and iterations"
Hi,

In other implementations of LDA, there are the "passes" and "iterations" parameters; passes is the number of times the algorithm is repeated on the entire corpus and iterations is the number of times repeated during the inference process (as is my understanding). What are the default values of these in this implementation and how can I modify them? It seems like iterations may be set to 10? (

[2022-02-03 16:06] bab2min commented on #121
Hi @benreaves
There appears to be some bugs in the current implementation of `tomotopy.coherence`.
However, a similar situation was not reproduced in my test set, so it is difficult to analyze details.
If possible, can you please share the `saved_model.bin` file that causes crashes? It will be of great help in figuring out the cause of the bug.

[2022-02-03 16:23] benreaves commented on #121
Yes I will send it later today. Thank you for investigating!

On Thu, Feb 3, 2022, 08:06 Minchul Lee ***@***.***> wrote:

[2022-02-03 16:43] bab2min commented on #157
Hello, @mschweitzer96
Currently, tomotopy's LDAModel doesn't have a feature that you asked. But you can simulate the feature manually using `set_word_prior` method.
[code]
It is important to note that the order of vocabulary in `used_vocab` varies according to the order of adding documents. So be careful if correct prior is set for each word when you set word prior.

If the document set is fixed,

[2022-02-03 17:01] bab2min commented on #158
If you have a question about pass and iteration in gensim, this [link](https://groups.google.com/g/gensim/c/on1PMjAvdr8?pli=1) might be helpful.
It should be noted that gensim's LdaModel uses **Variational Bayes**, but tomotopy's LDAModel uses **Collapsed Gibbs Sampling**. These two algorithms have the same goal, but their approach is quite different. So the concept of pass or iteration is complet

[2022-02-03 21:45] benreaves commented on #121
Yes, here it is! [1]
The zip file contains
 - the model file (in folder 20220126065224i0)
 - coherence_later.py, which I use for calculating the coherence on saved
models (did I do it correctly?)
 - results.csv containing a list of saved models. Only the first one is
included in this zipfile (but then that one does cause the hang).

[1]
https://drive.google.com/file/d/1s9WBQ_dxHV55qpy-mzSyB1tGpPuX

[2022-02-03 21:49] benreaves commented on #121
BTW, it doesn't always give the same error - sometimes it's "bad_alloc"
sometimes it just says "Killed" and exits with no traceback, and sometimes
it just hangs for at least 8 hours. I really appreciate your looking into
this!

On Thu, Feb 3, 2022 at 8:06 AM Minchul Lee ***@***.***> wrote:

--
_____________________________________________________________________
Ben Reaves

--

[2022-02-04 03:22] bab2min commented on #121
@benreaves Thank you for sharing the files and details. I'll look into them!

[2022-02-05 19:46] lucasgautheron commented on #156
Hi @bab2min, regarding evaluating perplexity from mdl.infer, how would you do that? My attempt attempt to reproduce the value of `mdl.perplexity` for the training set but using the ll returned by mdl.infer failed:

[code]

I guess this means that `doc.get_ll()` is not what I thought it is. What is is exactly? What should I do to make the calculation correct?

Thank you for your help!

[2022-02-07 16:23] bab2min commented on #156
Hi @lucasgautheron ,
A detailed discussion related to your question is here(#147).
Currently there are three options for calculating perplexity in tomotopy (`mdl.perplexity`, `mdl.infer()`, `doc.get_ll()`), but they are using subtly different calculation formulas each. I think this is a design mistake of tomotopy, so I am working on unifying it systematically(#148, #149).

The problem in your code

[2022-02-08 08:31] lucasgautheron commented on #156
Hi,

Thank you very much for your answer, this is super clear now!

[2022-02-09 07:50] benreaves commented on #121
This issue is no longer important. Reasons:

1. c_npmi seems to work fine, so I can use that instead of c_v
2. c_v should be avoided, according to this serious issue from 2018: [https://github.com/dice-group/Palmetto/issues/13](https://github.com/dice-group/Palmetto/issues/13)

However, I do have another question which I'll put in a new thread

[2022-02-09 08:12] benreaves opened #159 "GCP problems. Can I turn performance maximization off?"
When training a simple LDA model, it runs fine on one machine (win11, WSL2, ubuntu) but it does not work on another (Google Cloud Platform). On gcp, it stops in
`ldamodel.add_doc(tokens)`
It exits with status 0, no stack trace, no error message. It's only using about 1.2GB of memory at the time. It doesn't stop at exactly the same place each time. So I suspect something with the machine code instr

[2022-02-09 08:27] bab2min commented on #159
Hi @benreaves
You can run python with environment variable `export TOMOTOPY_ISA=none` if you want to turn off SIMD optimization.
The environment variable `TOMOTOPY_ISA=none` disables dynamic binary loading of tomotopy, forces tomotopy to run without SIMD instruction sets.

If you have a similar problem after setting the environment variable, please notice to me. I'd investigate about running tomot

[2022-02-09 08:53] benreaves commented on #159
Thank you for your quick reply!

On Wed, Feb 9, 2022, 00:27 Minchul Lee ***@***.***> wrote:

[2022-02-10 03:57] benreaves commented on #159
Result: now it crashes while reading data, before tomotopy even starts running. So I'm pretty sure the problem is with GCP (Google Cloud Platform). I am sorry, I think tomotopy is not the problem here. Can't be sure, but it's running OK on a standalone laptop so I'll train my models there.  Thank you for telling me about the TOMOTOPY_ISA variable, that was very helpful. I guess we can close this t

[2022-02-25 00:30] batmanscode opened #160 "Is there a way to 'weight' docs?"
I'm working with tweets and want to weight them by likes; I couldn't find an obvious way to do this going over the docs.

Is this possible?

[2022-02-26 10:37] batmanscode opened #161 ""RuntimeError: Either `words` or `rawWords` must be filled" using `add_doc` sometimes"
I have text in a dataframe and was adding it in like this:

[code]

This works fine

However, when I tried to remove stopwords before using `add_doc` I get the error in the title

I'm doing the preprocessing using [texthero](https://texthero.org/docs/getting-started) like this:

[code]

[code]

Side note: maybe this could be built into tomotopy using texthero

[2022-02-26 16:17] bab2min commented on #160
Hi @batmanscode,
Unfortunately there is no way to weight docs currently.
Actually, I have conducted several experiments with different doc weightings before, but they didn't show any improvement compared to the original one. So I dropped the document weighting feature from `tomotopy`.

However, you can simulate doc weighting similarly by adding the same document multiple times.
I recommend you to

[2022-02-26 16:20] bab2min commented on #161
Hi @batmanscode ,
It seems that there is an empty document in your `df['clean_text']`. Could you check the value of `df['clean_text']` to make sure there are no blank documents?

[2022-02-27 16:37] jalustig opened #162 "Ability to stream corpus data to LDAModel (or any other model)"
Tomotopy currently loads all of documents before training, and then it trains on these documents.

However, what I find is that I have a very large corpus (about 750,000 documents) and if I want to train on a portion of these documents, I am heavily ram limited. Even loading 20,000 documents will create a situation where my scrip takes up 20GB of ram.

Gensim has the ability to stream an iterable

[2022-02-28 06:10] batmanscode commented on #161
@bab2min `df['clean_text'].isnull().value_counts()` showed no empty values

[2022-02-28 06:25] batmanscode commented on #160
Very interesting @bab2min, thanks for sharing about your experiments and thanks for the suggestion!

At the moment I've simply multiplied each tweet by the number of likes and so far this seems to provide better results

There are some considerations however:
* Weighting is most effective when there is a large range i.e. 0-50k likes
* Weighting is less effective (similar to not weighting) when the

[2022-03-02 15:58] bab2min commented on #161
@batmanscode
`df.isnull()` tests only if the value is `NA` or not. Because an empty str `''` is not `NA`, it doesn't show any empty strings. Try following:
[code]

[2022-03-02 16:08] bab2min commented on #160
@batmanscode
Thank you for sharing your detail experience!! Most of your words sound reasonable.
However, there seems to be a pitfall in improving log likelihood by adjusting `min_df` and `min_cf`. If you set `min_df` and `min_cf` larger, the more uncommon words are excluded. This naturally causes increasing the value of log likelihood.
Aside from that, I'll consider implementing doc weighting int

[2022-03-08 12:34] batmanscode commented on #161
Ah this makes sense, thanks you. There are indeed empty values here. Are there some ways to get tomotopy to skip these?

[2022-03-08 12:34] batmanscode commented on #161
Ah this makes sense, thanks you. There are indeed empty values here. Are there some ways to get tomotopy to skip these?

[2022-03-08 12:36] batmanscode commented on #160
Right that makes sense! I hadn't considered that, thank you

[2022-03-08 17:08] bab2min commented on #161
@batmanscode Currently, `add_doc` has no such feature. But I think it's a good idea to add the option to ignore empty docs.

[2022-03-18 03:31] Sixy1204 opened #163 "Is there a way to get topic vector?"
Hi,

I was wondering if there's a way to get word embedding vectors in topic space after training tomotopy LDA model?

Thank you for your amazing work~

[2022-03-18 12:31] Kwon-subin opened #164 "DTModel에서 coherence 구하기"
안녕하세요 저는 현재 한국의 대학교에서 학부생으로 재학 중에 있습니다. 지식이 부족한 탓에 예제 코드를 엄청 참고해서 하고있는데, tomotopy 로 Dynamic Topic Modeling을 하려고합니다.
그런데, DTM 으로 학습된 모델로 coherence를 계산하려고 하니, timepoint 값이 없다고 나와서 제가 직접 coherence.py 파일의 해당 라인에 timepoint를 야매로 직접 입력하여 넘겼는데 또 다음과 같은 ValueError 가 뜹니다. 오류는 coherence.py 파일에서 발생했습니다.

c.append(super().get_score((w for w, _ in self._topic_model.get_topic_words(k,timepoint=13, top_n=self._to

[2022-03-19 05:07] bab2min commented on #163
Hello @Sixy1204
What does the word embedding vectors in topic space mean? After training, LDA model generates document-topic distributions and topic-word distributions. If you want to get topic distributions for each word, you can get it as follows:
[code]

[2022-03-20 07:33] Sixy1204 commented on #163
@bab2min I'm sorry i didn't make myself clear. I read a paper which mentioned the calculation method of vector representation of topic word. （As shown below）
![捕获](https://user-images.githubusercontent.com/36162926/159152711-294e7e5a-57be-46ff-9285-2b03c965c3a1.PNG)
Could you please tell me where can I find the number of times that word w is assigned to topic z in training?
thanks a lot

[2022-03-20 08:04] Sixy1204 commented on #163
I ran the code above, but the word probability looks really small.

[2022-03-20 11:04] bab2min commented on #163
@Sixy1204
You can normalize the value to make its sum to be 1 as follows:
[code]
But it may be slightly different from the value suggested by the paper, because `LDAModel.get_topic_word_dist`  yields smoothed values of Dirichlet distributions. If you wanna the accurate value, you should count topic-word matrix manually.

[2022-03-21 11:58] bab2min commented on #164
안녕하세요 @Kwon-subin
DTM 모델은 시간에 따라 토픽이 변하는 모델입니다. 따라서 토픽의 분포는 시간의 영향을 받으므로, 특정 토픽의 단어 분포를 구하려면 그 시간도 함께 명시해주어야 합니다.

https://github.com/bab2min/tomotopy/blob/d30964ce0610a5e34d3645cfc8c26d99536cac03/tomotopy/coherence.py#L148-L158

그런데 제보해주신것처럼 현재 Coherence 클래스에서는 topic_id만 입력받고 따로 timepoint를 처리하지 않아서 문제가 생기고 있네요~ 이 부분은 추후에 패치가 필요할 것으로 보이네요.

일단 패치 전에 돌려보시려면
[code]
와 같이 수정하시면 되겠습니다. 이렇게 하면 DTM 모델 내의

[2022-04-03 15:26] MVP1996 opened #165 "CTModel Numerical Stability"
Hi, big fan of the package, thanks for putting it together - I've had fantastic experiences with LDAModel and HDPModel, but am running into numerical stability issues as I'm trying out the CTModel.

A few quick clarifying questions on initialization :
* For a model with Logistic-Normal prior, why are we not able to specify the Mu and Sigma parameters in the prior when we initialize the model? Is t

[2022-04-05 21:36] MVP1996 commented on #165
Thank you for the clarification, it makes a lot more sense now. I look forward to the next tomotopy update!

[2022-04-24 02:57] daidaiduoduo opened #166 "Segmentation fault (core dumped) about PLDA"
Hello~~
I'm trying to run PLDA. I found that when I set the value of latent_topics bigger than 1 (like 5), and then call .make_doc() function. It posts "Segmentation fault (core dumped)" bug.
When I set latent_topics==0 or 1, it's ok.
I think it is similar to issues 30 : https://github.com/bab2min/tomotopy/issues/30

[2022-04-26 15:22] bab2min commented on #166
Hi @daidaiduoduo,
Could you share the code reproducing your error?
It will be helpful to find a cause of the bug.
Thank you in advance!

[2022-04-26 17:13] daidaiduoduo commented on #166
@bab2min
Hello~Thank you for your reply.  I run the following~
import sys
import tomotopy as tp
import numpy as np
import os
mdl = tp.PLDAModel(tw=tp.TermWeight.ONE, latent_topics=5)
d = ['a','b']
l ＝ ['c','d']
mdl.make_doc(d,l)

[2022-05-04 22:08] coletl opened #167 "Semi-supervised LDA (guided / seeded)"
Thank you for your work on this fantastic package. Would you be able to add a semi-supervised LDA? Here are some references:

 - [Paper introducing guided LDA](https://dl.acm.org/doi/10.5555/2380816.2380844)
 - [Paper introducing seeded LDA (PDF)](https://www.cs.cornell.edu/home/cardie/papers/masa-sentire-2011.pdf)
 - [Guided LDA in Python](https://guidedlda.readthedocs.io/en/latest/)

[2022-05-05 02:36] Dobatymo commented on #167
You can already set word priors, see https://github.com/bab2min/tomotopy#pining-topics-using-word-priors=

[2022-05-06 04:31] lkcao commented on #126
same question here....My coherence takes centuries to calculate...

[2022-06-07 02:11] daidaiduoduo commented on #166
Hello~ Have you checked?
Emm...so, is it the way I use the model？

[2022-06-07 15:09] bab2min commented on #166
Hi @daidaiduoduo
Sorry for too late reply.
Obviously your code should work without any problems, but it has been found that there is a bug in tomotopy's `make_doc()` implementation.
You can avoid this bug by calling `train()` before `make_doc()` as like:
[code]

[2022-06-07 17:10] juneMJ opened #168 "Explaining messages in CTM model example"
Hello,
I'm new to topic modeling and I'm trying the CTM model example. After loading my own data, which includes about 45000 documents, I get these messages during the process:
1. TruncMultiNormal.hpp(56): wrong truncation range [..., ...]
2. Failed to sample! Reset prior and retry!
3. Adding empty document was ignored.

I just need an explanation of what these messages mean, and if they affect th

[2022-06-08 03:51] daidaiduoduo commented on #166
@bab2min Thank you! It works!! 555

[2022-06-08 03:51] #166 closed

[2022-06-12 15:38] bab2min commented on #168
Hello @juneMJ, thank you for your interest to my package.
The first and second warning are related to numerical stability of tomotopy's CTM implementation. Currently, it seems to be a bug of tomotopy and I'm examining that numerical stability issue. You can see more detail discussion at https://github.com/bab2min/tomotopy/issues/165.

The third warning is happened if you `add_doc()` with empty wor

[2022-06-12 16:05] juneMJ commented on #168
Thank you so much for clarifying and referring to the other question.
Waiting for the update, all the best!

[2022-06-13 14:34] juneMJ opened #169 "Question: Showing vocabularies weights"
Hello,
I'm very interested in your package and enjoying it a lot so far.
I wonder if there is a way to show the term weights of the topic vocabularies after modeling.
Also I noticed there is no TF.IDF term weighting measure, is there a possibility to add it to the term weighting schemes?
Thank you.

[2022-06-15 13:26] bab2min commented on #169
Hi @juneMJ
Thank you for your suggestion.
As you said, current version of tomotopy doesn't provide API for accessing weights value of each term of vocabularies or for adding custom term weighting schemes. I'll add it for the next update plan.

However, apart from this, I think you can just use `IDF` term weighting instead of `TF.IDF`. Because term weighting is applied every terms in each document,

[2022-06-15 16:48] juneMJ commented on #169
@bab2min That would be cool, and I understand now your point about IDF. Thank you for your response!

[2022-06-22 07:51] TamHHM opened #170 "Mac M1 cpuid installation error"
Hi, I encoutered the below errors when installing tomotopy. Please help me fix it. Thank you very much:
[code]

[2022-06-23 15:47] bab2min commented on #170
Duplicated issue: #153 .
Current tomotopy doesn't support M1 and porting for M1 is working on. It can take a long time to work, so I recommend using Rosetta.

[2022-06-30 20:29] jucendrero opened #171 "Why is there a prior distribution for the regression coefficients in SLDAModel?"
The paper that introduced the sLDA model [1] proposes a generative process in which the regression coefficients η are not drawn from any prior distribution (see the figure below). Nonetheless, the [SLDAModel documentation](https://bab2min.github.io/tomotopy/v0.12.2/en/#tomotopy.SLDAModel) in tomotopy makes reference to two parameters, **mu** and **nu_sq**, that are described as the mean and varian

[2022-07-06 14:12] juneMJ opened #172 "Questions about choosing coherence measures"
Hello,
I'm trying several models with different coherence measures, but I have some questions I need to understand.
1. Is the value of the `SLIDING_WINDOWS` fixed? or can I change it withing a range so I can compare which size is the best?
2. I'm modeling social media posts, so the lengths of the posts are either long or very short, in this case what would be better for probability estimation: `DO

[2022-07-08 17:06] jucendrero opened #173 "SLDAModel does not accept user defined values for the "nu_sq" parameter"
I'm choosing different values for the `nu_sq` parameter of the `SLDAModel` and I always get the same error:

`RuntimeError: src/TopicModel/SLDAModel.hpp (392): wrong nuSq value (len = 1)`.

The problem is that, in [src/TopicModel/SLDAModel.hpp, lines 378 - 394](https://github.com/bab2min/tomotopy/blob/main/src/TopicModel/SLDAModel.hpp#L378), the first `if` statement makes reference to `args.nuSq`,

[2022-07-09 04:31] bab2min commented on #171
Hi @jucendrero, sorry for late answer.
Actually, tomotopy's sLDA implementation is based on [Savvysherpa's one](https://github.com/Savvysherpa/slda/), which is using Collapsed Gibbs sampling(CGS), and it is different from the original one suggested by Mcauliffe and Blei, based on Variational Inference with EM algorithm.
Since the implementation of CGS needs all parameters to be initialized, the ar

[2022-07-09 04:54] bab2min commented on #172
Hi @juneMJ

The coherence measures actually are defined like below:
https://github.com/bab2min/tomotopy/blob/d30964ce0610a5e34d3645cfc8c26d99536cac03/tomotopy/coherence.py#L62-L67
The second value is the default size of sliding windows. If you don't provide the `window_size` argument for `coherence.Coherence()`, the above default values are used. To find the best window_size, you should do some ex

[2022-07-09 04:59] bab2min commented on #173
Hi @jucendrero, thank you for reporting bug. Yes, it is a typo.
After some checks, I'll accept your patch!

[2022-07-09 10:36] jucendrero commented on #173
Thank you @bab2min! I see that the pull request has been merged, so I’m closing this issue.

[2022-07-09 10:36] #173 closed

[2022-07-09 13:01] juneMJ commented on #172
Thank you @bab2min for the clarifications!

[2022-07-09 19:18] jucendrero commented on #171
Thank you for your answer @bab2min!

I don't think that `mu` and `nuSq` are the initial values of  the parameters  $\eta $ and  $\sigma^2 $ respectively. I haven't checked the code exhaustively, so correct me if I'm wrong, but I see that both `mu` and `nuSq` are used in different parts of the optimization (for example, in [the `optimizeCoef` function](https://github.com/bab2min/tomotopy/blob/3d50e

[2022-07-13 03:26] HenryYoon opened #175 "DTModel 사용 중 No document with timepoint error에 관하여"
안녕하세요. 저는 지금 석사 학위논문 관련하여 데이터 분석 중에 있는데요.

데이터 특성 상 연도별 토픽 분포가 중요해서 현재 DTModel 메소드로 토픽 분석 중에 있습니다.

그런데 모델 돌리던 중에 이러한 에러가 발생하여 부득이 이슈에 올리게 되었습니다.

[code]

참고로 제 소스 코드는 아래와 같이 작성했습니다.

[code]

여기서 보면 특정 timepoint(제 코드의 경우 1)에서 문서가 없다고 에러가 뜨는데, 어떻게 하면 이 오류를 해결할 수 있을지 여쭙고 싶습니다.

추가적으로, 현재 저는 각 문서의 생성 연도를 데이터에 넣어서 그것을 반영하여 시간대를 나누고 싶은데, 어떻게 하면 input corpus에 이를 반영할 수 있을지 알려주시면 감사하겠습니다.

[2022-07-13 12:41] HenryYoon commented on #175
자문자답입니다만...

example/dtm.py 코드 보면서 해결했습니다!

정보 공유 용으로 코드 공유해봅니다.

[code]

여기서 Pandas의 DataFrame을 df.iterrows() 메소드를 통해 예제와 유사하게 코드를 짰고, 이는 아래와 같습니다.
[code]

이렇게 해서 DTModel에 적합한 코드를 짰고, 실행 결과를 볼 수 있었습니다.

추가적으로 time의 경우 원 데이터에서는 1948~2016까지로 되어 있는 것을
[code]
통해서 0~66으로 바꾼 후 정상 작동한 것을 확인했습니다.

다들 유용해 쓰시길 바라겠습니다!

[2022-07-13 12:41] #175 closed

[2022-07-17 13:08] #167 closed

[2022-07-17 13:09] #157 closed

[2022-07-17 13:10] #141 closed

[2022-07-17 13:10] #131 closed

[2022-07-17 13:11] #128 closed

[2022-07-17 13:15] #96 closed

[2022-07-17 13:15] #154 closed

[2022-07-17 13:16] #62 closed

[2022-07-20 08:47] Minsu-Song opened #177 "PARTITION 옵션 사용방법에 대해 문의드립니다."
안녕하세요,

tomotopy에서 LDA model을 돌리는 중에 궁금한 점이 있어서 여쭤봅니다.

제가 부족한 부분이 많아 기본적인 질문이라도 양해 부탁드립니다.

여쭤보고 싶은 것은 두 가지 입니다.

Q1. 제가 시도한 부분은 수 백만개 이상의 토픽으로 tp.LDAModel로 모델 설정 후 train을 할 때 속도를 향상시키는 것입니다.
이를 위해서, 0.5.0 버전 이후에 추가된 parallel 옵션과 ParallelScheme.PARTITION 알고리즘을 사용해 보려고 model.train(0, parrell = 숫자), model.train(0, PARTITION = 4)  등의 여러가지 시도를 해보았는데 에러가 뜨거나 속도 향상을 체감(및 측정)하지 못했습니다.
혹시, tomotopy API d

[2022-07-20 15:03] bab2min commented on #177
안녕하세요 @Minsu-Song 님, LDA의 경우 기본적으로 `ParallelScheme.PARTITION` 알고리즘을 사용합니다. 다른 알고리즘과의 속도를 비교해보고 싶으시다면 아래와 같이 parallel 옵션을 바꿔가며 실험해보시면 되겠습니다.
[code]
이와는 별개로 토픽의 개수가 수백만개 이상이라고 말씀하셨는데, 사실 토픽 모델링은 `(document, vocab)` 행렬을 `(document, topic) * (topic, vocab)` 행렬로 압축하는 것이기 때문에 어휘의 개수보다 토픽의 개수가 더 많으면 의미가 없습니다. 보통 문헌에 나오는 어휘들이 수 만개에서 많아봐야 십여만개 정도 되는걸 감안할때, 그보다 훨씬 많은 수 백만개의 토픽을 가지고 토픽 모델링을 수행하는건 잘못된 접근이라고 생

[2022-07-21 01:32] Minsu-Song commented on #177
안녕하세요.

빠르고 정확한 답변 감사합니다.

죄송합니다. 제가 잘못말씀드렸네요.

토픽이 아닌 어휘가 수백만개라는 말씀을 드린것이었습니다.

GPU에 대한 답변도 감사합니다!

[2022-07-21 12:43] jucendrero commented on #171
Hi @bab2min! Thanks for your reply. I've been recently experimenting with `nu_sq=sys.float_info.max()` (i.e. `nuSq`  $\to \infty $) to recreate the original implementation and results look good.

Unless you want me to write a comment about this in the documentation, I'm going to close this issue since the problem is solved for me.

Thanks again for your help!

[2022-07-21 12:43] #171 closed

[2022-07-26 07:09] tkddnd0214 opened #178 "DTM 모델의 토픽넘버링과 관련하여 문의드립니다."
안녕하십니까
tomotopy의 dtm모델을 돌리다가 문의사항이 있어 글을 올립니다.

모델을 훈련시킨 후,
훈련에 사용된 문서들이 어느 토픽에 분류가 되었는지 확인하고자
DTModel.docs[i].get_topics를 활용하여 각 문서가 어떤 토픽으로 분류가 되었는지 확인하였습니다.

그 이후, tomotopy.label와 DTModel.get_topic_words를 이용하여
각 토픽에 대해 자동라벨링과 각 시점 별 토픽에 포함되는 단어들을 확인해 보았는데요.

이때 DTModel.docs[i].get_topics을 사용했을 때 나오는 토픽 넘버링과
tomotopy.label와 DTModel.get_topic_words를 이용했을 때 나오는 토픽 넘버링이 다르게 되는 것 같아 해당 사항에 대해 확인하고 싶

[2022-07-31 11:38] pariskang commented on #151
How to add a new column to show which topic is assigned to each document. I really need your help. Thank u.

[2022-07-31 11:50] pariskang opened #179 "add a new column to show which topic"
How to add a new column to show which topic is assigned to each document. I really need your help. Thank u.
[code]
[code]
[code]
[code]
[code]
[code]
`mdl.docs[1].get_topic_dist() # topic distribution of the first doc`

[2022-08-01 11:40] erip opened #180 "Loading a fairly large model takes a long time"
I have a 6.5GB model trained on 10M docs to model 100 topics trained the usual way. I'm trying to load the model and I'm finding that load times are incredibly high. For reference, I've been monitoring `top` and my program has only loaded ~5.1GB of the 6.5GB model after 10 minutes.

I suspect this is because I used default `save` with `full=True`... Should I expect a model with `full=False` to loa

[2022-08-01 14:47] erip opened #181 "Inference against a corpus is segfaulting"
I am migrating away from `model.make_doc` to `tp.util.Corpus` and am finding that using Corpus segfaults. My tiny repro is here:

[code]

When I run this, I see:

[code]

It doesn't seem to matter how small the corpus is

[2022-08-01 15:32] erip commented on #181
It seems like my `WSTok` is the issue and that it doesn't meet the expected interface (`__call__` should return (tok, start, stop)). If I use `tp.util.SimpleTokenizer(pattern="\w+")`, it seems to be OK... this is somewhat unexpected, though so maybe documentation can be slightly improved.

[2022-08-01 16:57] erip opened #182 "Inference is extremely slow"
I have a large corpus (30M docs) and a pretrained inference-only tomotopy model. I want to find the argmax topic for each doc in the corpus and have found through benchmarking (see script [here](https://github.com/bab2min/tomotopy/issues/181#issue-1324544047))  that list-based inference is faster (by a factor of ~2) than corpus-based. What I find is that using defaults (on a 40-core machine), infe

[2022-08-07 09:08] bab2min commented on #178
안녕하세요 @tkddnd0214
`docs[i].get_topics`는 i번째 doc에 포함된 상위 n개(주로 10개) 토픽 분포를 보여줍니다. `DTModel.get_topic_words`는 지정한 토픽의 상위 n개(주로 10개)의 단어 분포를 보여주고요.
애초에 전자는 상위 토픽을 보여주고 후자는 상위 단어를 보여주는 것이라 비교대상이 아닐거 같은데요.
https://github.com/bab2min/tomotopy/blob/main/examples/dtm.py
examples 폴더에 있는 예시 코드의 결과로 예를 들자면,
[code]
보시다시피 get_topics()으로 doc 0의 상위 토픽은 #4임을 알아낼 수 있었고, #4가 실제로 어떤 내용을 나타내는지를  get_topic_words()로 조회

[2022-08-07 09:17] bab2min commented on #179
Hi @pariskang
You can get the top-n topics assigned to each document, using `get_topics()` method of `Document` class as follows:
[code]

[2022-08-07 09:21] bab2min commented on #180
Hi @erip
Yes, the model saved with `full=True` argument has all parameters related to whole train, thus it may take a long time to re-load it. If you save the model with `full=False`, you cannot continue to train with this model, but you can load faster.

[2022-08-07 23:19] erip commented on #180
Thanks very much, @bab2min! It seems like if the model is binarized it shouldn't take long to reload. I haven't looked at the details so sorry for the silly question, but does the model use numpy binarization under the hood? If so, it could be quick to deserialize even if full (though maybe I don't appreciate the complexity here).

[2022-08-08 08:10] pariskang commented on #179
Thank you! Your code seems really nice for me. I tried and then worked it out

[2022-08-08 12:13] #179 closed

[2022-08-08 12:13] #177 closed

[2022-08-08 16:36] bab2min commented on #180
@erip Actually, the package doesn't use numpy binarization for loading & saving, but uses a custom serialization functions.
And it is true that there are many features related to backward compatibility in the custom functions, so their process is somewhat inefficiently.
I'll check if it can be improved or re-implement the loading & saving in the near future.

[2022-08-08 16:39] bab2min commented on #181
Hi, @erip
Could you share some pieces of the file `10_line_pretokenized_corpus.tsv` for reproducing?
A similar error is not reproduced in the sample text I have, so it is not easy to determine the cause.
If you share the file where the problem is reproduced, it will be of great help to find the cause.

[2022-08-08 17:06] erip commented on #181
@bab2min are you using the WSTok here? It should cause the error

[2022-08-16 15:44] BrandonKMLee opened #183 "Questions regarding Tomotopy"
1. For evaluation, is it different from OCTIS? https://github.com/MIND-Lab/OCTIS#available-models
2. Can it handle Contextual Topic Models like https://github.com/MilaNLProc/contextualized-topic-models
3. Is this repo ready for Short Text in Python? https://github.com/qiang2100/STTM
4. There are models not included in this set, like:
  - Bi-Term Topic Models https://github.com/xiaohuiyan/BTM
  - S

[2022-08-31 05:13] tkddnd0214 opened #184 "DTM model의 DTModel.make_doc과 DTModel.infer에 관한 질문"
안녕하십니까.
tomotopy의 dtm모델 학습시킨 후, 해당 모델에 새로운 문서를 추가해 분석해보는 과정에서 에러가 나서 문의드립니다.

새로운 문건(아래 코드 temp) 한 건을 모델에 집어넣은 후,
topic_dist 등을 확인해 보고자 'DTModel.infer' Method를 사용하였는데,
tomotopy.Document type의 형태로 'infer' Method의 인자로 사용하였는데도
tomotopy.Document type or list of tomotopy.Document을 인자로 사용하라는 에러 문구가 나와 문의드립니다.
해결방안이 있을지 문의드립니다.
(그리고 make_doc에서 여러건의 문건을 한번에 넣을려면 데이터 형식을 어떻게 구성해야 하는지도 알려주시면 좋겠습니다.)

코드와 그에

[2022-09-14 08:06] tkddnd0214 commented on #184
혹시 infer 인자중에 transform 이라는 항목이 있던데 dtm 모델에 맞는 transform을 해야하는 것일까요?

[2022-09-14 12:11] bab2min commented on #184
안녕하세요 @tkddnd0214 ,
답변이 늦었네요. `make_doc`을 사용하고 `infer`를 사용하면 잘 작동되어야하는게 맞습니다.
[code]
위와 같이 에러가 뜬다면 뭔가 doc_inst를 생성하는 과정에서 문제가 생겼을것 같은데요, 지금 알려주신 코드만으로는 무엇이 원인인지 알기 어렵네요. 괜찮으시다면 위 에러를 재현가능한 코드를 공유해주시면 조사해보도록 하겠습니다.

그리고 make_doc은 문헌 하나를 생성하는것이기 때문에, 여러 문헌을 생성하려고 하면 반복문을 통해 여러 번 make_doc을 호출하셔야 합니다.
[code]

[2022-09-16 00:33] tkddnd0214 commented on #184
안녕하십니까, @bab2min
답변 보면서 다시 작업해보던 와중
mdl.infer(doc_inst) 를 mdl.infer([doc_inst])로 수정하니 작동이 되었습니다.
친절한 답변 감사드립니다.

[2022-09-16 00:41] tkddnd0214 opened #185 "새로운 문서에 대한 get_topic_words 또는 get_topic_word_dist"
안녕하십니까
너무 자주 문의를 드려, 귀찮으실까 죄송스럽네요.

mdl.make_doc을 통한 새로운 문서 집합에 대해서도
mdl.get_topic_words 나 mdl.get_topic_word_dist 같은 결과물을 낼 수 있는지 문의드립니다.

답변 부탁드리겠습니다.
감사합니다.

[2022-09-18 13:08] #184 closed

[2022-09-18 13:15] bab2min commented on #185
`mdl.get_topic_words`는 토픽 모델 전체의 토픽-단어 분포를 가져오는 메소드입니다. make_doc으로 생성한 새로운 문서에 대해서 추론을 할 경우 토픽-단어 분포는 고정된 상태에서 각 문서별로 문서-토픽 분포를 추정하는 것입니다. (즉, 문서-단어 분포를 문서-토픽 분포와 토픽-단어 분포로 분해하는데 토픽-단어 분포는 고정된 상황)
따라서 애초에 새로운 문서 집합에 대해서는 문서-토픽 분포를 구해야하는 것이지 토픽-단어 분포를 구해야하는 것이 아닙니다.
그리고 새로운 문서에 대한 문서-토픽 분포는 기존 문서에 대한 문서-토픽 분포를 구할때와 마찬가지로 `doc.get_topics()` 혹은 `doc.get_topic_dist()`를 사용하시면 되겠습니다.

만약 새로운 문서 집합에 대해 토

[2022-09-24 08:42] juneMJ opened #186 "pyLDAvis for PAModel visualization"
Hello,
When I'm trying to visualize the distributions from PAModel with pyLDAvis, I use `get_sub_topic_dist()` for the documents distributions, like this:

`dt_dist = np.stack([doc.get_sub_topic_dist() for doc in mdl.docs])`

But I get this error:

`SystemError: \python\getargs.c:1463: bad argument to internal function`

How can I solve this?

[2022-09-27 17:16] bab2min commented on #186
Hi @juneMJ
Thank you for reporting the bug.
There was a bug at the internal C++ implementation of `get_sub_topic_dist()` method.
https://github.com/bab2min/tomotopy/blob/073c44334a0141e4831ede575ad66b26343ff81d/src/python/py_utils.cpp#L1200
Actually, it should take one argument `normalize` but it was declared as `METH_NOARGS`, which is causing the bug you reported.
I'll fix it asap.
Thank you agai

[2022-09-30 08:34] juneMJ commented on #186
@bab2min Cool! Thank you for your quick response! Waiting for the update :)

[2022-10-02 22:07] rmalouf opened #187 "add_doc with an invalid doc -> crash"

[2022-10-03 07:07] ankane opened #188 "C++ compilation error with v0.12.3 and AVX-512F"
Hey @bab2min,

Hope things are good with you! I'm working on updating the Ruby gem from 0.12.2 to 0.12.3, but am running into a few errors when `-march=native` is set on Linux and Mac with AVX-512F. The full logs are [here](https://github.com/ankane/tomoto-ruby/actions/runs/3171972558/jobs/5165948854), but I've tried to capture the relevant parts below:

Error 1

[code]

Error 2

[code]

Error 3

[2022-10-03 09:40] bab2min commented on #188
Hi @ankane,
Actually `tomotopy` doesn't support AVX512 yet. I'm not sure how it was compiled well at 0.12.2 version.
I'll work to support AVX512 in the next update.
Thank you for your suggestion.

[2022-10-03 09:43] bab2min commented on #187
Hi @rmalouf
Thank you for reporting the bug.
The exception throwing mechanism of 0.12.3 seems not to work with Jupyter.
I'll examine it.

[2022-10-03 21:02] ankane commented on #188
That was fast. Thanks as always @bab2min!

It looks like compiling with `-march=native -mno-avx512f` works, so can use that for Ruby.

[2022-10-20 19:40] jsigman commented on #153
Same here, thanks @bab2min

[2022-11-16 11:31] wangyi888 commented on #182
Hi
do you have some solution to resolve this bug？

[2022-11-21 11:53] LiuTaiShi opened #189 "When Training HDP model the perplexity return Nan。"
Hi! I'm now training a HDP model and report perplexity and loglikelihood for every 200 iters.
But when the number of iteration reaches 36600(as presented in pic), the both metrics retrun Nan.
That really confuses me. What's wrong with the training?
By the way, I used to thought that when the perplexity meet the minium point can i get a correct  model.
So what's the apt standard to choose model fro

[2022-11-24 14:40] lz75258 opened #190 "Obtain Topic Distribution for Documents in the HLDA Model"

[2022-11-30 12:16] lz75258 commented on #190
Hi, @bab2min , I would like to know how to obtain Topic Distribution for documents in the HLDA Model?